Repository talkiq/gcloud-aio, changes with the owners that .github/CODEOWNERS names for each.
All owners: @talkiq/engineering, @TheKevJames, @shaundialpad

.github/CODEOWNERS:

*                   @talkiq/engineering @TheKevJames

pyproject.toml      @TheKevJames
poetry.lock         @TheKevJames

/pubsub             @TheKevJames @shaundialpad

chore(deps): update node.js to v22.4.1
  .circleci/config.yml
Owners: @talkiq/engineering, @TheKevJames

chore(deps): update dependency pytest-asyncio to v0.23.8
  auth/poetry.lock
  auth/pyproject.toml
  bigquery/poetry.lock
  bigquery/pyproject.toml
  datastore/poetry.lock
  datastore/pyproject.toml
  pubsub/poetry.lock
  pubsub/pyproject.toml
  storage/poetry.lock
  storage/pyproject.toml
  taskqueue/poetry.lock
  taskqueue/pyproject.toml
Owners: @TheKevJames, @shaundialpad

chore(deps): update dependency pytest-asyncio to v0.23.8
  auth/poetry.lock
  auth/pyproject.toml
  bigquery/poetry.lock
  bigquery/pyproject.toml
  datastore/poetry.lock
  datastore/pyproject.toml
  pubsub/poetry.lock
  pubsub/pyproject.toml
  storage/poetry.lock
  storage/pyproject.toml
  taskqueue/poetry.lock
  taskqueue/pyproject.toml
Owners: @TheKevJames, @shaundialpad

chore(deps): update node.js to v22.5.0
  .circleci/config.yml
Owners: @talkiq/engineering, @TheKevJames

chore(deps): update node.js to v22.5.0
  .circleci/config.yml
Owners: @talkiq/engineering, @TheKevJames

chore(deps): update pre-commit hook pre-commit/mirrors-mypy to v1.11.0
  .pre-commit-config.yaml
Owners: @talkiq/engineering, @TheKevJames

chore(deps): update pre-commit hook pre-commit/mirrors-mypy to v1.11.0
  .pre-commit-config.yaml
Owners: @talkiq/engineering, @TheKevJames

chore(deps): update dependency pytest to v8.3.0
  auth/poetry.lock
  auth/pyproject.toml
  bigquery/poetry.lock
  bigquery/pyproject.toml
  datastore/poetry.lock
  datastore/pyproject.toml
  kms/poetry.lock
  kms/pyproject.toml
  pubsub/poetry.lock
  pubsub/pyproject.toml
  storage/poetry.lock
  storage/pyproject.toml
  taskqueue/poetry.lock
  taskqueue/pyproject.toml
Owners: @TheKevJames, @shaundialpad

chore(deps): update dependency pytest to v8.3.0
  auth/poetry.lock
  auth/pyproject.toml
  bigquery/poetry.lock
  bigquery/pyproject.toml
  datastore/poetry.lock
  datastore/pyproject.toml
  kms/poetry.lock
  kms/pyproject.toml
  pubsub/poetry.lock
  pubsub/pyproject.toml
  storage/poetry.lock
  storage/pyproject.toml
  taskqueue/poetry.lock
  taskqueue/pyproject.toml
Owners: @TheKevJames, @shaundialpad

chore(deps): update pre-commit hook pycqa/pylint to v3.2.6
  .pre-commit-config.yaml
Owners: @talkiq/engineering, @TheKevJames

chore(deps): update pre-commit hook pycqa/pylint to v3.2.6
  .pre-commit-config.yaml
Owners: @talkiq/engineering, @TheKevJames

chore(deps): update dependency pytest to v8.3.2
  auth/poetry.lock
  auth/pyproject.toml
  bigquery/poetry.lock
  bigquery/pyproject.toml
  datastore/poetry.lock
  datastore/pyproject.toml
  kms/poetry.lock
  kms/pyproject.toml
  pubsub/poetry.lock
  pubsub/pyproject.toml
  storage/poetry.lock
  storage/pyproject.toml
  taskqueue/poetry.lock
  taskqueue/pyproject.toml
Owners: @TheKevJames, @shaundialpad

chore(deps): update dependency pytest to v8.3.2
  auth/poetry.lock
  auth/pyproject.toml
  bigquery/poetry.lock
  bigquery/pyproject.toml
  datastore/poetry.lock
  datastore/pyproject.toml
  kms/poetry.lock
  kms/pyproject.toml
  pubsub/poetry.lock
  pubsub/pyproject.toml
  storage/poetry.lock
  storage/pyproject.toml
  taskqueue/poetry.lock
  taskqueue/pyproject.toml
Owners: @TheKevJames, @shaundialpad

chore(deps): update dependency aiofiles to v24
  storage/poetry.lock
  storage/pyproject.toml
Owners: @TheKevJames

chore(deps): update pre-commit hook python-jsonschema/check-jsonschema to v0.29.1
  .pre-commit-config.yaml
Owners: @talkiq/engineering, @TheKevJames

chore(deps): update pre-commit hook python-jsonschema/check-jsonschema to v0.29.1
  .pre-commit-config.yaml
Owners: @talkiq/engineering, @TheKevJames

chore(deps): update pre-commit hook pre-commit/mirrors-mypy to v1.11.1
  .pre-commit-config.yaml
Owners: @talkiq/engineering, @TheKevJames

chore(deps): update pre-commit hook pre-commit/mirrors-mypy to v1.11.1
  .pre-commit-config.yaml
Owners: @talkiq/engineering, @TheKevJames

chore(deps): update pre-commit hook pycqa/flake8 to v7.1.1
  .pre-commit-config.yaml
Owners: @talkiq/engineering, @TheKevJames

chore(deps): update pre-commit hook pycqa/flake8 to v7.1.1
  .pre-commit-config.yaml
Owners: @talkiq/engineering, @TheKevJames

chore(deps): update dependency aiohttp to v3.9.5
  datastore/poetry.lock
  datastore/pyproject.toml
  pubsub/poetry.lock
  pubsub/pyproject.toml
  taskqueue/poetry.lock
  taskqueue/pyproject.toml
Owners: @TheKevJames, @shaundialpad

chore(deps): update dependency aiohttp to v3.10.2
  datastore/poetry.lock
  datastore/pyproject.toml
  pubsub/poetry.lock
  pubsub/pyproject.toml
  taskqueue/poetry.lock
  taskqueue/pyproject.toml
Owners: @TheKevJames, @shaundialpad

chore(deps): update pre-commit hook asottile/pyupgrade to v3.17.0
  .pre-commit-config.yaml
Owners: @talkiq/engineering, @TheKevJames

chore(deps): update dependency aiofiles to v24 (#773)
  storage/poetry.lock
  storage/pyproject.toml
Owners: @TheKevJames

chore(deps): update pre-commit hook python-jsonschema/check-jsonschema to v0.29.2
  .pre-commit-config.yaml
Owners: @talkiq/engineering, @TheKevJames

chore(deps): update pre-commit hook python-jsonschema/check-jsonschema to v0.29.2
  .pre-commit-config.yaml
Owners: @talkiq/engineering, @TheKevJames

chore(deps): update node.js to v22.7.0
  .circleci/config.yml
Owners: @talkiq/engineering, @TheKevJames

chore(deps): update node.js to v22.7.0
  .circleci/config.yml
Owners: @talkiq/engineering, @TheKevJames

chore(deps): update pre-commit hook pre-commit/mirrors-mypy to v1.11.2
  .pre-commit-config.yaml
Owners: @talkiq/engineering, @TheKevJames

chore(deps): update pre-commit hook pre-commit/mirrors-mypy to v1.11.2
  .pre-commit-config.yaml
Owners: @talkiq/engineering, @TheKevJames
