Repository talkiq/gcloud-aio, changes with the owners that .github/CODEOWNERS names for each.
All owners: @talkiq/engineering, @TheKevJames, @shaundialpad

chore(deps): update dependency aiofiles to v23
  storage/poetry.lock
  storage/pyproject.rest.toml
  storage/pyproject.toml
Owners: @TheKevJames, @talkiq/engineering

chore(deps): update dependency chardet to v5
  auth/poetry.lock
  auth/poetry.rest.lock
  auth/pyproject.rest.toml
  auth/pyproject.toml
Owners: @TheKevJames, @talkiq/engineering

chore(ci): matrix test on py310 and py311
  .circleci/config.yml
Owners: @talkiq/engineering, @TheKevJames

chore(deps): update python docker tag to v3.11.2
  .circleci/config.yml
Owners: @talkiq/engineering, @TheKevJames

chore(deps): update dependency setuptools to v67
  auth/poetry.lock
  auth/pyproject.toml
  bigquery/poetry.lock
  bigquery/pyproject.toml
  datastore/poetry.lock
  datastore/pyproject.toml
  kms/poetry.lock
  kms/pyproject.toml
  pubsub/poetry.lock
  pubsub/pyproject.toml
  storage/poetry.lock
  storage/pyproject.toml
  taskqueue/poetry.lock
  taskqueue/pyproject.toml
Owners: @TheKevJames, @shaundialpad

chore(ci): matrix test on py310 and py311 (#599)
  .circleci/config.yml
Owners: @talkiq/engineering, @TheKevJames

[skip ci] updated docs
  gcloud/aio/bigquery.html
  gcloud/aio/datastore.html
  gcloud/rest/bigquery.html
  gcloud/rest/datastore.html
  search.js
Owners: @talkiq/engineering, @TheKevJames

feat(pubsub): improve logging (#593)
  pubsub/gcloud/aio/pubsub/subscriber.py
Owners: @TheKevJames, @shaundialpad

[skip ci] updated docs
  gcloud.html
  gcloud/aio.html
  gcloud/aio/auth.html
  gcloud/aio/bigquery.html
  gcloud/aio/datastore.html
  gcloud/aio/kms.html
  gcloud/aio/pubsub.html
  gcloud/aio/storage.html
  gcloud/aio/taskqueue.html
  gcloud/rest.html
  gcloud/rest/auth.html
  gcloud/rest/bigquery.html
  gcloud/rest/datastore.html
  gcloud/rest/kms.html
  gcloud/rest/pubsub.html
  gcloud/rest/storage.html
  gcloud/rest/taskqueue.html
Owners: @talkiq/engineering, @TheKevJames

feat(pubsub): add topic/sub convenience methods to SubscriberClient
  pubsub/gcloud/aio/pubsub/subscriber_client.py
Owners: @TheKevJames, @shaundialpad

feat(pubsub): add topic/sub convenience methods to SubscriberClient (#592)
  pubsub/gcloud/aio/pubsub/subscriber_client.py
Owners: @TheKevJames, @shaundialpad

[skip ci] updated docs
  gcloud/aio/pubsub.html
  gcloud/rest/pubsub.html
  search.js
Owners: @talkiq/engineering, @TheKevJames

feat(pubsub): support subscription patch operation
  pubsub/gcloud/aio/pubsub/subscriber_client.py
Owners: @TheKevJames, @shaundialpad

check if data['key'] is not none
  datastore/gcloud/aio/datastore/entity.py
Owners: @talkiq/engineering, @TheKevJames

[skip ci] updated docs
  gcloud/aio/datastore.html
  gcloud/rest/datastore.html
Owners: @talkiq/engineering, @TheKevJames

chore(repo): bump from latest template
  .github/PULL_REQUEST_TEMPLATE.md
  .github/autoapproval.yml
  .github/workflows/autoapproval.yml
  .pre-commit-config.yaml
  auth/gcloud/aio/auth/session.py
  auth/tests/unit/utils_test.py
  bigquery/gcloud/aio/bigquery/table.py
  datastore/gcloud/aio/datastore/array.py
  datastore/gcloud/aio/datastore/key.py
  pubsub/gcloud/aio/pubsub/publisher_client.py
  pubsub/gcloud/aio/pubsub/subscriber.py
  pubsub/gcloud/aio/pubsub/subscriber_client.py
  pubsub/gcloud/aio/pubsub/utils.py
  storage/gcloud/aio/storage/storage.py
  storage/tests/integration/download_range_test.py
  storage/tests/integration/upload_multipart_test.py
  storage/tests/integration/upload_resumable_test.py
Owners: @talkiq/engineering, @TheKevJames, @shaundialpad

[skip ci] updated docs
  gcloud/aio/auth.html
  gcloud/aio/bigquery.html
  gcloud/aio/datastore.html
  gcloud/aio/pubsub.html
  gcloud/aio/storage.html
  gcloud/rest/auth.html
  gcloud/rest/bigquery.html
  gcloud/rest/datastore.html
  gcloud/rest/pubsub.html
  gcloud/rest/storage.html
Owners: @talkiq/engineering, @TheKevJames

fix(storage): sort headers properly for signed url
  storage/gcloud/aio/storage/blob.py
  storage/tests/integration/signed_url_test.py
Owners: @talkiq/engineering, @TheKevJames

feat(storage): support domain-named buckets
  storage/gcloud/aio/storage/blob.py
  storage/tests/integration/signed_url_test.py
Owners: @talkiq/engineering, @TheKevJames

feat(storage): support domain-named buckets
  storage/gcloud/aio/storage/blob.py
  storage/tests/integration/signed_url_test.py
Owners: @talkiq/engineering, @TheKevJames

[skip ci] updated docs
  gcloud/aio/storage.html
  gcloud/rest/storage.html
Owners: @talkiq/engineering, @TheKevJames

feat(pubsub): support subscription patch operation (#605)
  pubsub/gcloud/aio/pubsub/subscriber_client.py
Owners: @TheKevJames, @shaundialpad

[skip ci] updated docs
  gcloud/aio/pubsub.html
  gcloud/rest/pubsub.html
  search.js
Owners: @talkiq/engineering, @TheKevJames

chore(pubsub): fix lint issue
  pubsub/gcloud/aio/pubsub/subscriber_client.py
Owners: @TheKevJames, @shaundialpad

chore(release): bump auth version
  auth/poetry.rest.lock
  auth/pyproject.rest.toml
  auth/pyproject.toml
Owners: @talkiq/engineering, @TheKevJames

[skip ci] updated docs
  gcloud/aio/auth.html
  gcloud/aio/pubsub.html
  gcloud/rest/auth.html
  gcloud/rest/pubsub.html
Owners: @talkiq/engineering, @TheKevJames

chore(release): bump versions
  datastore/poetry.lock
  datastore/poetry.rest.lock
  datastore/pyproject.rest.toml
  datastore/pyproject.toml
  pubsub/poetry.lock
  pubsub/poetry.rest.lock
  pubsub/pyproject.rest.toml
  pubsub/pyproject.toml
  storage/poetry.lock
  storage/poetry.rest.lock
  storage/pyproject.rest.toml
  storage/pyproject.toml
Owners: @TheKevJames, @talkiq/engineering, @shaundialpad

[skip ci] updated docs
  gcloud/aio/datastore.html
  gcloud/aio/pubsub.html
  gcloud/aio/storage.html
  gcloud/rest/datastore.html
  gcloud/rest/pubsub.html
  gcloud/rest/storage.html
Owners: @talkiq/engineering, @TheKevJames

Code review updates. Add underscore to private methods, rename options with transaction_options, split ReadWrite class into ReadWrite and ReadOnly
  datastore/gcloud/aio/datastore/__init__.py
  datastore/gcloud/aio/datastore/datastore.py
  datastore/gcloud/aio/datastore/options.py
  datastore/gcloud/aio/datastore/transaction_options.py
  datastore/tests/integration/smoke_test.py
Owners: @talkiq/engineering, @TheKevJames

feat(datastore): add newTransaction option for lookups
  datastore/gcloud/aio/datastore/__init__.py
  datastore/gcloud/aio/datastore/datastore.py
  datastore/gcloud/aio/datastore/transaction_options.py
  datastore/tests/integration/smoke_test.py
Owners: @talkiq/engineering, @TheKevJames

[skip ci] updated docs
  gcloud/aio/datastore.html
  gcloud/rest/datastore.html
  search.js
Owners: @talkiq/engineering, @TheKevJames

chore(release): bump version
  datastore/poetry.lock
  datastore/pyproject.rest.toml
  datastore/pyproject.toml
Owners: @TheKevJames, @talkiq/engineering

[skip ci] updated docs
  gcloud/aio/datastore.html
  gcloud/rest/datastore.html
Owners: @talkiq/engineering, @TheKevJames

chore(pre-commit): reset incompatible flake8 to 5.0.4
  .pre-commit-config.yaml
Owners: @talkiq/engineering, @TheKevJames

chore(pre-commit): alpha pylint version internally inconsistent
  .pre-commit-config.yaml
Owners: @talkiq/engineering, @TheKevJames

Fix cancel job url
  bigquery/gcloud/aio/bigquery/job.py
Owners: @talkiq/engineering, @TheKevJames

feat(list-buckets): adding list_buckets function
  storage/gcloud/aio/storage/storage.py
Owners: @talkiq/engineering, @TheKevJames

feat(list-buckets): adding list_buckets function
  storage/gcloud/aio/storage/storage.py
Owners: @talkiq/engineering, @TheKevJames

feat(list-buckets): adding headers
  storage/gcloud/aio/storage/storage.py
Owners: @talkiq/engineering, @TheKevJames

feat(get-buckets): added a new method to our gcloud.{aio|rest} lib
  storage/gcloud/aio/storage/bucket.py
  storage/gcloud/aio/storage/storage.py
  storage/tests/integration/conftest.py
  storage/tests/integration/get_buckets_test.py
Owners: @talkiq/engineering, @TheKevJames

.github/CODEOWNERS:

*                   @talkiq/engineering @TheKevJames

pyproject.toml      @TheKevJames
poetry.lock         @TheKevJames

/pubsub             @TheKevJames @shaundialpad
