Repository talkiq/gcloud-aio, changes with the owners that .github/CODEOWNERS names for each.
All owners: @talkiq/engineering, @TheKevJames, @shaundialpad

chore(deps): update python docker tag to v3.8.19
  .circleci/config.yml
Owners: @talkiq/engineering, @TheKevJames

chore(deps): update python docker tag to v3.9.19
  .circleci/config.yml
Owners: @talkiq/engineering, @TheKevJames

chore(deps): update python docker tag to v3.8.19
  .circleci/config.yml
Owners: @talkiq/engineering, @TheKevJames

chore(deps): update python docker tag to v3.9.19
  .circleci/config.yml
Owners: @talkiq/engineering, @TheKevJames

chore(deps): update dependency pytest-mock to v3.13.0
  auth/poetry.lock
  auth/pyproject.toml
  bigquery/poetry.lock
  bigquery/pyproject.toml
  datastore/poetry.lock
  datastore/pyproject.toml
  pubsub/poetry.lock
  pubsub/pyproject.toml
  storage/poetry.lock
  storage/pyproject.toml
  taskqueue/poetry.lock
  taskqueue/pyproject.toml
Owners: @TheKevJames, @shaundialpad

chore(deps): update dependency pytest-mock to v3.13.0
  auth/poetry.lock
  auth/pyproject.toml
  bigquery/poetry.lock
  bigquery/pyproject.toml
  datastore/poetry.lock
  datastore/pyproject.toml
  pubsub/poetry.lock
  pubsub/pyproject.toml
  storage/poetry.lock
  storage/pyproject.toml
  taskqueue/poetry.lock
  taskqueue/pyproject.toml
Owners: @TheKevJames, @shaundialpad

chore(deps): update dependency pytest-mock to v3.14.0
  auth/poetry.lock
  auth/pyproject.toml
  bigquery/poetry.lock
  bigquery/pyproject.toml
  datastore/poetry.lock
  datastore/pyproject.toml
  pubsub/poetry.lock
  pubsub/pyproject.toml
  storage/poetry.lock
  storage/pyproject.toml
  taskqueue/poetry.lock
  taskqueue/pyproject.toml
Owners: @TheKevJames, @shaundialpad

chore(deps): update dependency pytest-mock to v3.14.0
  auth/poetry.lock
  auth/pyproject.toml
  bigquery/poetry.lock
  bigquery/pyproject.toml
  datastore/poetry.lock
  datastore/pyproject.toml
  pubsub/poetry.lock
  pubsub/pyproject.toml
  storage/poetry.lock
  storage/pyproject.toml
  taskqueue/poetry.lock
  taskqueue/pyproject.toml
Owners: @TheKevJames, @shaundialpad

More typing fixes
  storage/gcloud/aio/storage/blob.py
  storage/gcloud/aio/storage/storage.py
  storage/tests/integration/smoke_test.py
Owners: @talkiq/engineering, @TheKevJames

Initial implementation for REST lib
  auth/gcloud/aio/auth/session.py
  storage/gcloud/aio/storage/storage.py
Owners: @talkiq/engineering, @TheKevJames

Update semver
  auth/pyproject.toml
  storage/gcloud/aio/storage/storage.py
  storage/pyproject.toml
Owners: @TheKevJames, @talkiq/engineering

Upgrade auth dependency in storage project
  storage/poetry.lock
  storage/pyproject.toml
Owners: @TheKevJames

More type hints fixes
  storage/gcloud/aio/storage/storage.py
Owners: @talkiq/engineering, @TheKevJames

Update type hint
  auth/gcloud/aio/auth/session.py
Owners: @talkiq/engineering, @TheKevJames

Revert unwanted change
  storage/gcloud/aio/storage/storage.py
Owners: @talkiq/engineering, @TheKevJames

chore(deps): update dependency pyasn1-modules to >= 0.2.1, < 0.4.1
  storage/poetry.lock
  storage/pyproject.toml
Owners: @TheKevJames

chore(deps): update dependency pyasn1-modules to >= 0.2.1, < 0.4.1 (#709)
  storage/poetry.lock
  storage/pyproject.toml
Owners: @TheKevJames

chore(deps): update dependency aiohttp to v3.9.3
  datastore/poetry.lock
  datastore/pyproject.toml
  pubsub/poetry.lock
  pubsub/pyproject.toml
  taskqueue/poetry.lock
  taskqueue/pyproject.toml
Owners: @TheKevJames, @shaundialpad

Update storage poetry.lock
  storage/poetry.lock
Owners: @TheKevJames

Code review improvements
  storage/gcloud/aio/storage/storage.py
Owners: @talkiq/engineering, @TheKevJames

feat(datastore): support OR and NOT_EQUAL filter operators
  datastore/gcloud/aio/datastore/constants.py
Owners: @talkiq/engineering, @TheKevJames

feat(auth): support auto-decompress argument passthrough
  auth/gcloud/aio/auth/session.py
  auth/poetry.rest.lock
  auth/pyproject.rest.toml
  auth/pyproject.toml
Owners: @talkiq/engineering, @TheKevJames

feat(auth): support auto-decompress argument passthrough (#713)
  auth/gcloud/aio/auth/session.py
  auth/poetry.rest.lock
  auth/pyproject.rest.toml
  auth/pyproject.toml
Owners: @talkiq/engineering, @TheKevJames

[skip ci] updated docs
  .doctrees/autoapi/auth/session/index.doctree
  _sources/autoapi/auth/session/index.rst.txt
  autoapi/auth/session/index.html
  searchindex.js
Owners: @talkiq/engineering, @TheKevJames

feat(storage): support gzipping files before uploading them
  .pre-commit-config.yaml
  auth/gcloud/aio/auth/session.py
  storage/gcloud/aio/storage/blob.py
  storage/gcloud/aio/storage/storage.py
  storage/poetry.lock
  storage/poetry.rest.lock
  storage/pyproject.rest.toml
  storage/pyproject.toml
  storage/tests/integration/smoke_test.py
Owners: @talkiq/engineering, @TheKevJames

feat(storage): support gzipping files before uploading them (#714)
  .pre-commit-config.yaml
  auth/gcloud/aio/auth/session.py
  storage/gcloud/aio/storage/blob.py
  storage/gcloud/aio/storage/storage.py
  storage/poetry.lock
  storage/poetry.rest.lock
  storage/pyproject.rest.toml
  storage/pyproject.toml
  storage/tests/integration/smoke_test.py
Owners: @talkiq/engineering, @TheKevJames

chore: bump rest lockfiles
  bigquery/poetry.rest.lock
  bigquery/pyproject.rest.toml
  datastore/poetry.rest.lock
  datastore/pyproject.rest.toml
  pubsub/poetry.rest.lock
  pubsub/pyproject.rest.toml
  taskqueue/poetry.rest.lock
  taskqueue/pyproject.rest.toml
Owners: @talkiq/engineering, @TheKevJames, @shaundialpad

chore(deps): update node.js to v21.7.2
  .circleci/config.yml
Owners: @talkiq/engineering, @TheKevJames

chore(deps): update node.js to v21.7.2
  .circleci/config.yml
Owners: @talkiq/engineering, @TheKevJames

fix(auth): fixup aiohttp range compatibility
  auth/poetry.lock
  auth/pyproject.rest.toml
  auth/pyproject.toml
Owners: @TheKevJames, @talkiq/engineering

fix(auth): fixup aiohttp v3.3.0 compat
  auth/gcloud/aio/auth/session.py
  auth/poetry.lock
  auth/pyproject.rest.toml
  auth/pyproject.toml
Owners: @talkiq/engineering, @TheKevJames

fix(storage): avoid stomping over session-level auto_decompress value
  .pre-commit-config.yaml
  storage/gcloud/aio/storage/storage.py
  storage/poetry.lock
  storage/poetry.rest.lock
  storage/pyproject.rest.toml
  storage/pyproject.toml
Owners: @talkiq/engineering, @TheKevJames

chore(deps): lock file maintenance
  bigquery/poetry.lock
  datastore/poetry.lock
  kms/poetry.lock
  pubsub/poetry.lock
  storage/poetry.lock
  taskqueue/poetry.lock
Owners: @TheKevJames, @shaundialpad

chore(deps): lock file maintenance
  bigquery/poetry.lock
  datastore/poetry.lock
  kms/poetry.lock
  pubsub/poetry.lock
  storage/poetry.lock
  taskqueue/poetry.lock
Owners: @TheKevJames, @shaundialpad

Allow external account type
  auth/gcloud/aio/auth/token.py
Owners: @talkiq/engineering, @TheKevJames

chore(deps): update node.js to v21.7.3
  .circleci/config.yml
Owners: @talkiq/engineering, @TheKevJames

chore(deps): update node.js to v21.7.3
  .circleci/config.yml
Owners: @talkiq/engineering, @TheKevJames

chore(deps): update python docker tag to v3.12.3
  .circleci/config.yml
Owners: @talkiq/engineering, @TheKevJames

chore(deps): update python docker tag to v3.12.3
  .circleci/config.yml
Owners: @talkiq/engineering, @TheKevJames

chore(deps): lock file maintenance
  auth/poetry.lock
  bigquery/poetry.lock
  datastore/poetry.lock
  kms/poetry.lock
  pubsub/poetry.lock
  storage/poetry.lock
  taskqueue/poetry.lock
Owners: @TheKevJames, @shaundialpad

.github/CODEOWNERS:

*                   @talkiq/engineering @TheKevJames

pyproject.toml      @TheKevJames
poetry.lock         @TheKevJames

/pubsub             @TheKevJames @shaundialpad
