Repository talkiq/gcloud-aio, changes with the owners that .github/CODEOWNERS names for each.
All owners: @talkiq/engineering, @TheKevJames, @cphoward, @shaundialpad

.github/CODEOWNERS:

*                   @talkiq/engineering @TheKevJames @cphoward

pyproject.toml      @TheKevJames
poetry.lock         @TheKevJames

/pubsub             @TheKevJames @shaundialpad

chore(deps): update pre-commit hook pycqa/pylint to v3.2.7
  .pre-commit-config.yaml
Owners: @talkiq/engineering, @TheKevJames, @cphoward

chore(deps): update pre-commit hook pycqa/pylint to v3.2.7
  .pre-commit-config.yaml
Owners: @talkiq/engineering, @TheKevJames, @cphoward

chore(deps): update node.js to v22.8.0
  .circleci/config.yml
Owners: @talkiq/engineering, @TheKevJames, @cphoward

chore(deps): update node.js to v22.8.0
  .circleci/config.yml
Owners: @talkiq/engineering, @TheKevJames, @cphoward

chore(deps): update dependency pytest to v8.3.3
  auth/poetry.lock
  auth/pyproject.toml
  bigquery/poetry.lock
  bigquery/pyproject.toml
  datastore/poetry.lock
  datastore/pyproject.toml
  kms/poetry.lock
  kms/pyproject.toml
  pubsub/poetry.lock
  pubsub/pyproject.toml
  storage/poetry.lock
  storage/pyproject.toml
  taskqueue/poetry.lock
  taskqueue/pyproject.toml
Owners: @TheKevJames, @shaundialpad

chore(deps): update dependency pytest to v8.3.3
  auth/poetry.lock
  auth/pyproject.toml
  bigquery/poetry.lock
  bigquery/pyproject.toml
  datastore/poetry.lock
  datastore/pyproject.toml
  kms/poetry.lock
  kms/pyproject.toml
  pubsub/poetry.lock
  pubsub/pyproject.toml
  storage/poetry.lock
  storage/pyproject.toml
  taskqueue/poetry.lock
  taskqueue/pyproject.toml
Owners: @TheKevJames, @shaundialpad

chore(deps): update dependency pyasn1-modules to >= 0.2.1, < 0.4.2
  storage/poetry.lock
  storage/pyproject.toml
Owners: @TheKevJames

chore(deps): update dependency pyasn1-modules to >= 0.2.1, < 0.4.2
  storage/poetry.lock
  storage/pyproject.toml
Owners: @TheKevJames

feat(clients): allow non-dev API endpoint roots
  auth/poetry.rest.lock
  auth/pyproject.rest.toml
  bigquery/gcloud/aio/bigquery/bigquery.py
  bigquery/poetry.rest.lock
  bigquery/pyproject.rest.toml
  bigquery/tests/unit/bigquery_test.py
  datastore/gcloud/aio/datastore/datastore.py
  datastore/poetry.rest.lock
  datastore/pyproject.rest.toml
  datastore/tests/unit/datastore_test.py
  kms/gcloud/aio/kms/kms.py
  kms/poetry.lock
  kms/poetry.rest.lock
  kms/pyproject.rest.toml
  kms/pyproject.toml
  kms/tests/unit/kms_test.py
  pubsub/gcloud/aio/pubsub/publisher_client.py
  pubsub/gcloud/aio/pubsub/subscriber_client.py
  pubsub/poetry.rest.lock
  pubsub/pyproject.rest.toml
  pubsub/tests/unit/publisher_test.py
  pubsub/tests/unit/subscriber_test.py
  storage/gcloud/aio/storage/storage.py
  storage/poetry.rest.lock
  storage/pyproject.rest.toml
  taskqueue/gcloud/aio/taskqueue/queue.py
  taskqueue/poetry.rest.lock
  taskqueue/pyproject.rest.toml
  taskqueue/tests/unit/queue_test.py
Owners: @talkiq/engineering, @TheKevJames, @cphoward, @shaundialpad

chore(deps): update node.js to v22.9.0
  .circleci/config.yml
Owners: @talkiq/engineering, @TheKevJames, @cphoward

chore(deps): update node.js to v22.9.0
  .circleci/config.yml
Owners: @talkiq/engineering, @TheKevJames, @cphoward

fix(pubsub): fix unhandled exception in subscriber task
  pubsub/gcloud/aio/pubsub/subscriber.py
  pubsub/tests/unit/subscriber_test.py
Owners: @TheKevJames, @shaundialpad
