Repository talkiq/gcloud-aio, changes with the owners that .github/CODEOWNERS names for each.
All owners: @talkiq/engineering, @TheKevJames, @shaundialpad

feat(list-buckets): addressing Kev's suggestions
  storage/gcloud/aio/storage/bucket.py
  storage/gcloud/aio/storage/storage.py
  storage/tests/integration/list_buckets_test.py
Owners: @talkiq/engineering, @TheKevJames

list_buckets now retruns a List instead of a Set
  storage/gcloud/aio/storage/storage.py
Owners: @talkiq/engineering, @TheKevJames

feat(list-buckets): adding a Storage method returning buckets from a project (#617)
  storage/gcloud/aio/storage/storage.py
  storage/tests/integration/conftest.py
  storage/tests/integration/list_buckets_test.py
Owners: @talkiq/engineering, @TheKevJames

[skip ci] updated docs
  gcloud.html
  gcloud/aio.html
  gcloud/aio/auth.html
  gcloud/aio/bigquery.html
  gcloud/aio/datastore.html
  gcloud/aio/kms.html
  gcloud/aio/pubsub.html
  gcloud/aio/storage.html
  gcloud/aio/taskqueue.html
  gcloud/rest.html
  gcloud/rest/auth.html
  gcloud/rest/bigquery.html
  gcloud/rest/datastore.html
  gcloud/rest/kms.html
  gcloud/rest/pubsub.html
  gcloud/rest/storage.html
  gcloud/rest/taskqueue.html
  search.js
Owners: @talkiq/engineering, @TheKevJames

feat(list-buckets): prereleasing list_buckets() method
  storage/poetry.lock
  storage/pyproject.toml
Owners: @TheKevJames

feat(list-buckets): prereleasing list_buckets() method (#618)
  storage/poetry.lock
  storage/pyproject.toml
Owners: @TheKevJames

[skip ci] updated docs
  gcloud/aio/storage.html
  gcloud/rest/storage.html
Owners: @talkiq/engineering, @TheKevJames

fix(bigquery): fixup cancel job url
  bigquery/gcloud/aio/bigquery/job.py
Owners: @talkiq/engineering, @TheKevJames

[skip ci] updated docs
  gcloud/aio/bigquery.html
  gcloud/rest/bigquery.html
Owners: @talkiq/engineering, @TheKevJames

chore(deps): update python docker tag to v3.7.17
  .circleci/config.yml
Owners: @talkiq/engineering, @TheKevJames

[skip ci] updated docs
  gcloud.html
  gcloud/aio.html
  gcloud/aio/auth.html
  gcloud/aio/bigquery.html
  gcloud/aio/datastore.html
  gcloud/aio/kms.html
  gcloud/aio/pubsub.html
  gcloud/aio/storage.html
  gcloud/aio/taskqueue.html
  gcloud/rest.html
  gcloud/rest/auth.html
  gcloud/rest/bigquery.html
  gcloud/rest/datastore.html
  gcloud/rest/kms.html
  gcloud/rest/pubsub.html
  gcloud/rest/storage.html
  gcloud/rest/taskqueue.html
  search.js
Owners: @talkiq/engineering, @TheKevJames

chore(deps): bump release version
  auth/poetry.lock
  auth/poetry.rest.lock
  auth/pyproject.rest.toml
  auth/pyproject.toml
Owners: @TheKevJames, @talkiq/engineering

[skip ci] updated docs
  gcloud/aio/auth.html
  gcloud/rest/auth.html
  search.js
Owners: @talkiq/engineering, @TheKevJames

fix(auth): reset token acquisition future after failure
  auth/gcloud/aio/auth/token.py
Owners: @talkiq/engineering, @TheKevJames

chore(auth): bump version
  auth/pyproject.toml
Owners: @TheKevJames

fix(auth): reset token acquisition future after failure (#628)
  auth/gcloud/aio/auth/token.py
Owners: @talkiq/engineering, @TheKevJames

[skip ci] updated docs
  gcloud/aio/auth.html
  gcloud/rest/auth.html
  search.js
Owners: @talkiq/engineering, @TheKevJames

chore(release): bump auth version
  auth/pyproject.toml
Owners: @TheKevJames

chore(release): bump auth version (#629)
  auth/pyproject.toml
Owners: @TheKevJames

[skip ci] updated docs
  gcloud/aio/auth.html
  gcloud/rest/auth.html
  search.js
Owners: @talkiq/engineering, @TheKevJames

bump(storage-8.2.1): from 8.2.1a0 to 8.2.1
  storage/poetry.lock
  storage/pyproject.toml
Owners: @TheKevJames

bump(storage): 8.3.0
  storage/pyproject.toml
Owners: @TheKevJames

bump(storage-8.3.0): from 8.2.1a0 to 8.3.0 (#630)
  storage/poetry.lock
  storage/pyproject.toml
Owners: @TheKevJames

[skip ci] updated docs
  gcloud/aio/storage.html
  gcloud/rest/auth.html
  gcloud/rest/storage.html
  search.js
Owners: @talkiq/engineering, @TheKevJames

Unpins `cryptography` in order to expedite CVE patches
  auth/pyproject.rest.toml
  auth/pyproject.toml
Owners: @talkiq/engineering, @TheKevJames

chore(deps): update python docker tag to v3.10.13
  .circleci/config.yml
Owners: @talkiq/engineering, @TheKevJames

chore(deps): update python docker tag to v3.11.5
  .circleci/config.yml
Owners: @talkiq/engineering, @TheKevJames

chore(deps): update python docker tag to v3.8.18
  .circleci/config.yml
Owners: @talkiq/engineering, @TheKevJames

chore(deps): update python docker tag to v3.9.18
  .circleci/config.yml
Owners: @talkiq/engineering, @TheKevJames

feat: drop python3.7 support
  .circleci/config.yml
  .github/CONTRIBUTING.rst
  .pre-commit-config.yaml
  README.rst
  auth/poetry.lock
  auth/poetry.rest.lock
  auth/pyproject.rest.toml
  auth/pyproject.toml
  bigquery/poetry.lock
  bigquery/poetry.rest.lock
  bigquery/pyproject.rest.toml
  bigquery/pyproject.toml
  datastore/poetry.lock
  datastore/poetry.rest.lock
  datastore/pyproject.rest.toml
  datastore/pyproject.toml
  kms/poetry.lock
  kms/poetry.rest.lock
  kms/pyproject.rest.toml
  kms/pyproject.toml
  poetry.lock
  pubsub/poetry.lock
  pubsub/poetry.rest.lock
  pubsub/pyproject.rest.toml
  pubsub/pyproject.toml
  pyproject.toml
  storage/poetry.lock
  storage/poetry.rest.lock
  storage/pyproject.rest.toml
  storage/pyproject.toml
  taskqueue/gcloud/aio/taskqueue/queue.py
  taskqueue/poetry.lock
  taskqueue/poetry.rest.lock
  taskqueue/pyproject.rest.toml
  taskqueue/pyproject.toml
Owners: @talkiq/engineering, @TheKevJames, @shaundialpad

[skip ci] updated docs
  gcloud.html
  gcloud/aio.html
  gcloud/aio/auth.html
  gcloud/aio/bigquery.html
  gcloud/aio/datastore.html
  gcloud/aio/kms.html
  gcloud/aio/pubsub.html
  gcloud/aio/storage.html
  gcloud/aio/taskqueue.html
  gcloud/rest.html
  gcloud/rest/auth.html
  gcloud/rest/bigquery.html
  gcloud/rest/datastore.html
  gcloud/rest/kms.html
  gcloud/rest/pubsub.html
  gcloud/rest/storage.html
  gcloud/rest/taskqueue.html
  search.js
Owners: @talkiq/engineering, @TheKevJames

[skip ci] updated docs
  gcloud.html
  gcloud/aio.html
  gcloud/aio/auth.html
  gcloud/aio/bigquery.html
  gcloud/aio/datastore.html
  gcloud/aio/kms.html
  gcloud/aio/pubsub.html
  gcloud/aio/storage.html
  gcloud/aio/taskqueue.html
  gcloud/rest.html
  gcloud/rest/auth.html
  gcloud/rest/bigquery.html
  gcloud/rest/datastore.html
  gcloud/rest/kms.html
  gcloud/rest/pubsub.html
  gcloud/rest/storage.html
  gcloud/rest/taskqueue.html
  search.js
Owners: @talkiq/engineering, @TheKevJames

chore(deps): update dependency pyasn1-modules to >= 0.2.1, < 0.4.0
  storage/poetry.lock
  storage/poetry.rest.lock
  storage/pyproject.rest.toml
  storage/pyproject.toml
Owners: @TheKevJames, @talkiq/engineering

chore(deps): update pre-commit linters
  .pre-commit-config.yaml
  auth/gcloud/aio/auth/token.py
Owners: @talkiq/engineering, @TheKevJames

chore(deps): update node.js to v19.9.0
  .circleci/config.yml
Owners: @talkiq/engineering, @TheKevJames

chore(renovate): disable autoupdates for python minors
  .github/renovate.json
  .github/renovate.json5
Owners: @talkiq/engineering, @TheKevJames

Add match_glob param to list_blobs
  storage/gcloud/aio/storage/bucket.py
Owners: @talkiq/engineering, @TheKevJames

feat(storage): add match_glob param to list_blobs() (#634)
  storage/gcloud/aio/storage/bucket.py
Owners: @talkiq/engineering, @TheKevJames

fix(auth): fixup using default timeout values in Session
  auth/gcloud/aio/auth/iam.py
  auth/gcloud/aio/auth/session.py
  auth/gcloud/aio/auth/token.py
  auth/gcloud/aio/auth/utils.py
Owners: @talkiq/engineering, @TheKevJames

fix(renovate): keep version ranges instead of pins
  .github/renovate.json5
Owners: @talkiq/engineering, @TheKevJames

.github/CODEOWNERS:

*                   @talkiq/engineering @TheKevJames

pyproject.toml      @TheKevJames
poetry.lock         @TheKevJames

/pubsub             @TheKevJames @shaundialpad
