Repository talkiq/gcloud-aio, changes with the owners that .github/CODEOWNERS names for each.
All owners: @talkiq/engineering, @TheKevJames, @shaundialpad

.github/CODEOWNERS:

*                   @talkiq/engineering @TheKevJames

pyproject.toml      @TheKevJames
poetry.lock         @TheKevJames

/pubsub             @TheKevJames @shaundialpad

refactor(lint): apply latest lint rules
  .circleci/config.yml
  .pre-commit-config.yaml
  auth/gcloud/aio/auth/iam.py
  auth/gcloud/aio/auth/session.py
  auth/gcloud/aio/auth/token.py
  auth/tests/unit/token_test.py
  bigquery/gcloud/aio/bigquery/bigquery.py
  bigquery/gcloud/aio/bigquery/dataset.py
  bigquery/gcloud/aio/bigquery/job.py
  bigquery/gcloud/aio/bigquery/table.py
  bigquery/tests/unit/bigquery_test.py
  datastore/gcloud/aio/datastore/datastore.py
  datastore/gcloud/aio/datastore/value.py
  kms/gcloud/aio/kms/kms.py
  mypy.ini
  pubsub/gcloud/aio/pubsub/metrics_agent.py
  pubsub/gcloud/aio/pubsub/publisher_client.py
  pubsub/gcloud/aio/pubsub/subscriber.py
  pubsub/gcloud/aio/pubsub/subscriber_client.py
  storage/gcloud/aio/storage/blob.py
  storage/gcloud/aio/storage/bucket.py
  storage/gcloud/aio/storage/storage.py
  taskqueue/gcloud/aio/taskqueue/queue.py
  taskqueue/tests/integration/pushqueue_test.py
Owners: @talkiq/engineering, @TheKevJames, @shaundialpad

fix(datastore): allow f-string removal for gcloud-rest
  bin/build-rest
  datastore/gcloud/aio/datastore/value.py
Owners: @talkiq/engineering, @TheKevJames

refactor(lint): apply latest lint rules (#475)
  .circleci/config.yml
  .pre-commit-config.yaml
  auth/gcloud/aio/auth/iam.py
  auth/gcloud/aio/auth/session.py
  auth/gcloud/aio/auth/token.py
  auth/tests/unit/token_test.py
  bigquery/gcloud/aio/bigquery/bigquery.py
  bigquery/gcloud/aio/bigquery/dataset.py
  bigquery/gcloud/aio/bigquery/job.py
  bigquery/gcloud/aio/bigquery/table.py
  bigquery/tests/unit/bigquery_test.py
  bin/build-rest
  datastore/gcloud/aio/datastore/datastore.py
  datastore/gcloud/aio/datastore/value.py
  kms/gcloud/aio/kms/kms.py
  mypy.ini
  pubsub/gcloud/aio/pubsub/metrics_agent.py
  pubsub/gcloud/aio/pubsub/publisher_client.py
  pubsub/gcloud/aio/pubsub/subscriber.py
  pubsub/gcloud/aio/pubsub/subscriber_client.py
  storage/gcloud/aio/storage/blob.py
  storage/gcloud/aio/storage/bucket.py
  storage/gcloud/aio/storage/storage.py
  taskqueue/gcloud/aio/taskqueue/queue.py
  taskqueue/tests/integration/pushqueue_test.py
Owners: @talkiq/engineering, @TheKevJames, @shaundialpad

chore(deps): update node.js to v18.12.1
  .circleci/config.yml
Owners: @talkiq/engineering, @TheKevJames

feat(deps): drop support for py35 in gcloud-rest
  .circleci/config.yml
  auth/poetry.lock
  auth/poetry.rest.lock
  auth/pyproject.rest.toml
  auth/pyproject.toml
  bigquery/poetry.lock
  bigquery/poetry.rest.lock
  bigquery/pyproject.rest.toml
  bigquery/pyproject.toml
  bin/build-rest
  datastore/poetry.lock
  datastore/poetry.rest.lock
  datastore/pyproject.rest.toml
  datastore/pyproject.toml
  kms/poetry.rest.lock
  kms/pyproject.rest.toml
  poetry.lock
  pubsub/poetry.rest.lock
  pubsub/pyproject.rest.toml
  pyproject.toml
  storage/poetry.lock
  storage/poetry.rest.lock
  storage/pyproject.rest.toml
  storage/pyproject.toml
  taskqueue/poetry.rest.lock
  taskqueue/pyproject.rest.toml
Owners: @talkiq/engineering, @TheKevJames, @shaundialpad

chore(ci): fix py2.7 rest tests
  .circleci/config.yml
Owners: @talkiq/engineering, @TheKevJames

feat(deps): drop support for py35 in gcloud-rest (#554)
  .circleci/config.yml
  auth/poetry.lock
  auth/poetry.rest.lock
  auth/pyproject.rest.toml
  auth/pyproject.toml
  bigquery/poetry.lock
  bigquery/poetry.rest.lock
  bigquery/pyproject.rest.toml
  bigquery/pyproject.toml
  bin/build-rest
  datastore/poetry.lock
  datastore/poetry.rest.lock
  datastore/pyproject.rest.toml
  datastore/pyproject.toml
  kms/poetry.rest.lock
  kms/pyproject.rest.toml
  poetry.lock
  pubsub/poetry.rest.lock
  pubsub/pyproject.rest.toml
  pyproject.toml
  storage/poetry.lock
  storage/poetry.rest.lock
  storage/pyproject.rest.toml
  storage/pyproject.toml
  taskqueue/poetry.rest.lock
  taskqueue/pyproject.rest.toml
Owners: @talkiq/engineering, @TheKevJames, @shaundialpad

chore(deps): update node.js to v18.12.1 (#538)
  .circleci/config.yml
Owners: @talkiq/engineering, @TheKevJames

feat(deps): drop support for py36
  .circleci/config.yml
  auth/poetry.lock
  auth/poetry.rest.lock
  auth/pyproject.rest.toml
  auth/pyproject.toml
  bigquery/poetry.lock
  bigquery/poetry.rest.lock
  bigquery/pyproject.rest.toml
  bigquery/pyproject.toml
  bin/build-rest
  datastore/poetry.lock
  datastore/poetry.rest.lock
  datastore/pyproject.rest.toml
  datastore/pyproject.toml
  kms/poetry.lock
  kms/poetry.rest.lock
  kms/pyproject.rest.toml
  kms/pyproject.toml
  poetry.lock
  pubsub/poetry.lock
  pubsub/poetry.rest.lock
  pubsub/pyproject.rest.toml
  pubsub/pyproject.toml
  pyproject.toml
  storage/poetry.lock
  storage/poetry.rest.lock
  storage/pyproject.rest.toml
  storage/pyproject.toml
  taskqueue/poetry.lock
  taskqueue/poetry.rest.lock
  taskqueue/pyproject.rest.toml
  taskqueue/pyproject.toml
Owners: @talkiq/engineering, @TheKevJames, @shaundialpad

feat(deps): drop support for py36 (#555)
  .circleci/config.yml
  auth/poetry.lock
  auth/poetry.rest.lock
  auth/pyproject.rest.toml
  auth/pyproject.toml
  bigquery/poetry.lock
  bigquery/poetry.rest.lock
  bigquery/pyproject.rest.toml
  bigquery/pyproject.toml
  bin/build-rest
  datastore/poetry.lock
  datastore/poetry.rest.lock
  datastore/pyproject.rest.toml
  datastore/pyproject.toml
  kms/poetry.lock
  kms/poetry.rest.lock
  kms/pyproject.rest.toml
  kms/pyproject.toml
  poetry.lock
  pubsub/poetry.lock
  pubsub/poetry.rest.lock
  pubsub/pyproject.rest.toml
  pubsub/pyproject.toml
  pyproject.toml
  storage/poetry.lock
  storage/poetry.rest.lock
  storage/pyproject.rest.toml
  storage/pyproject.toml
  taskqueue/poetry.lock
  taskqueue/poetry.rest.lock
  taskqueue/pyproject.rest.toml
  taskqueue/pyproject.toml
Owners: @talkiq/engineering, @TheKevJames, @shaundialpad

chore(ci): matrix test python 3.10 and 3.11
  .circleci/config.yml
  auth/poetry.lock
  auth/poetry.rest.lock
  auth/pyproject.rest.toml
  auth/pyproject.toml
  bigquery/poetry.lock
  bigquery/poetry.rest.lock
  bigquery/pyproject.rest.toml
  bigquery/pyproject.toml
  bin/build-rest
  datastore/poetry.lock
  datastore/poetry.rest.lock
  datastore/pyproject.rest.toml
  datastore/pyproject.toml
  kms/poetry.lock
  kms/poetry.rest.lock
  kms/pyproject.rest.toml
  kms/pyproject.toml
  pubsub/poetry.lock
  pubsub/poetry.rest.lock
  pubsub/pyproject.rest.toml
  pubsub/pyproject.toml
  storage/poetry.lock
  storage/poetry.rest.lock
  storage/pyproject.rest.toml
  storage/pyproject.toml
  taskqueue/poetry.lock
  taskqueue/poetry.rest.lock
  taskqueue/pyproject.rest.toml
  taskqueue/pyproject.toml
Owners: @talkiq/engineering, @TheKevJames, @shaundialpad

wip
  auth/pyproject.toml
  bigquery/pyproject.toml
  datastore/pyproject.toml
  pubsub/pyproject.toml
  storage/pyproject.toml
  taskqueue/pyproject.toml
Owners: @TheKevJames, @shaundialpad

chore(pubsub): clean up log messages
  pubsub/gcloud/aio/pubsub/subscriber.py
  pubsub/tests/unit/subscriber_test.py
Owners: @TheKevJames, @shaundialpad

chore(pubsub): clean up log messages (#551)
  pubsub/gcloud/aio/pubsub/subscriber.py
  pubsub/tests/unit/subscriber_test.py
Owners: @TheKevJames, @shaundialpad

feat(bigquery): implement table data list operation
  bigquery/gcloud/aio/bigquery/table.py
Owners: @talkiq/engineering, @TheKevJames

[skip ci] updated docs
  aio/pubsub/index.html
  aio/pubsub/subscriber.html
  rest/pubsub/subscriber.html
Owners: @talkiq/engineering, @TheKevJames

chore(deps): update python docker tag to v3.11.1
  .circleci/config.yml
Owners: @talkiq/engineering, @TheKevJames

[skip ci] updated docs
  aio/bigquery/index.html
  aio/bigquery/table.html
  rest/bigquery/index.html
  rest/bigquery/table.html
Owners: @talkiq/engineering, @TheKevJames

chore(tests): fixup flaky test
  auth/poetry.lock
  auth/pyproject.rest.toml
  auth/pyproject.toml
  bigquery/poetry.lock
  bigquery/pyproject.rest.toml
  bigquery/pyproject.toml
  datastore/poetry.lock
  datastore/pyproject.rest.toml
  datastore/pyproject.toml
  kms/poetry.lock
  kms/pyproject.rest.toml
  kms/pyproject.toml
  pubsub/poetry.lock
  pubsub/pyproject.rest.toml
  pubsub/pyproject.toml
  storage/poetry.lock
  storage/pyproject.rest.toml
  storage/pyproject.toml
  taskqueue/poetry.lock
  taskqueue/pyproject.rest.toml
  taskqueue/pyproject.toml
  taskqueue/tests/integration/conftest.py
  taskqueue/tests/integration/pushqueue_test.py
Owners: @TheKevJames, @talkiq/engineering, @shaundialpad

feat(storage): make StreamResponse a context manager
  storage/gcloud/aio/storage/storage.py
Owners: @talkiq/engineering, @TheKevJames

chore(deps): update aiofiles to v22
  storage/poetry.lock
  storage/pyproject.rest.toml
  storage/pyproject.toml
Owners: @TheKevJames, @talkiq/engineering

[skip ci] updated docs
  aio/storage/index.html
  aio/storage/storage.html
  rest/storage/index.html
  rest/storage/storage.html
Owners: @talkiq/engineering, @TheKevJames

chore(deps): update cryptography to v38
  auth/poetry.lock
  auth/poetry.rest.lock
  auth/pyproject.rest.toml
  auth/pyproject.toml
Owners: @TheKevJames, @talkiq/engineering

fix(storage): upload retry no longer results in IO error
  storage/gcloud/aio/storage/storage.py
  storage/tests/unit/upload_retry_test.py
Owners: @talkiq/engineering, @TheKevJames

[skip ci] updated docs
  aio/storage/index.html
  aio/storage/storage.html
  rest/storage/index.html
  rest/storage/storage.html
Owners: @talkiq/engineering, @TheKevJames

chore(deps): fix readme typo (#543)
  storage/README.rst
Owners: @talkiq/engineering, @TheKevJames

feat(storage): switch emulator default from https to http
  storage/gcloud/aio/storage/storage.py
Owners: @talkiq/engineering, @TheKevJames

feat(storage): switch emulator default from https to http
  storage/gcloud/aio/storage/storage.py
Owners: @talkiq/engineering, @TheKevJames

[skip ci] updated docs
  aio/storage/storage.html
  rest/storage/storage.html
Owners: @talkiq/engineering, @TheKevJames

fix(auth): fix stored credential path on Windows
  auth/gcloud/aio/auth/token.py
Owners: @talkiq/engineering, @TheKevJames

[skip ci] updated docs
  aio/auth/token.html
  rest/auth/token.html
Owners: @talkiq/engineering, @TheKevJames

feat(auth): add windows token fallback
  auth/gcloud/aio/auth/token.py
Owners: @talkiq/engineering, @TheKevJames

[skip ci] updated docs
  aio/auth/token.html
  rest/auth/token.html
Owners: @talkiq/engineering, @TheKevJames

docs: include docs besides apidocs in site
  .circleci/config.yml
  .github/CONTRIBUTING.rst
  .gitignore
  README.rst
  auth/README.rst
  auth/gcloud/__init__.py
  auth/gcloud/aio/__init__.py
  auth/gcloud/aio/auth/__init__.py
  bigquery/README.rst
  bigquery/gcloud/__init__.py
  bigquery/gcloud/aio/__init__.py
  bigquery/gcloud/aio/bigquery/__init__.py
  bin/build-rest
  datastore/README.rst
  datastore/gcloud/__init__.py
  datastore/gcloud/aio/__init__.py
  datastore/gcloud/aio/datastore/__init__.py
  docs/aio.md
  docs/gcloud.md
  docs/rest.md
  kms/README.rst
  kms/gcloud/__init__.py
  kms/gcloud/aio/__init__.py
  kms/gcloud/aio/kms/__init__.py
  pubsub/README.rst
  pubsub/gcloud/__init__.py
  pubsub/gcloud/aio/__init__.py
  pubsub/gcloud/aio/pubsub/__init__.py
  storage/README.rst
  storage/gcloud/__init__.py
  storage/gcloud/aio/__init__.py
  storage/gcloud/aio/storage/__init__.py
  taskqueue/README.rst
  taskqueue/gcloud/__init__.py
  taskqueue/gcloud/aio/__init__.py
  taskqueue/gcloud/aio/taskqueue/__init__.py
Owners: @talkiq/engineering, @TheKevJames, @shaundialpad

docs: fixup docs build
  .circleci/config.yml
  .gitignore
  bin/build-rest
Owners: @talkiq/engineering, @TheKevJames

[skip ci] updated docs
  gcloud.html
  gcloud/aio.html
  gcloud/aio/auth.html
  gcloud/aio/bigquery.html
  gcloud/aio/datastore.html
  gcloud/aio/kms.html
  gcloud/aio/pubsub.html
  gcloud/aio/storage.html
  gcloud/aio/taskqueue.html
  gcloud/rest.html
  gcloud/rest/auth.html
  gcloud/rest/bigquery.html
  gcloud/rest/datastore.html
  gcloud/rest/kms.html
  gcloud/rest/pubsub.html
  gcloud/rest/storage.html
  gcloud/rest/taskqueue.html
  index.html
  search.js
Owners: @talkiq/engineering, @TheKevJames

chore(types): add py.typed to module packages
  auth/gcloud/aio/py.typed
  auth/gcloud/py.typed
  bigquery/gcloud/aio/py.typed
  bigquery/gcloud/py.typed
  datastore/gcloud/aio/py.typed
  datastore/gcloud/py.typed
  kms/gcloud/aio/py.typed
  kms/gcloud/py.typed
  pubsub/gcloud/aio/py.typed
  pubsub/gcloud/py.typed
  storage/gcloud/aio/py.typed
  storage/gcloud/py.typed
  taskqueue/gcloud/aio/py.typed
  taskqueue/gcloud/py.typed
Owners: @talkiq/engineering, @TheKevJames, @shaundialpad

feat: load emulator hosts at runtime
  bigquery/gcloud/aio/bigquery/bigquery.py
  bigquery/gcloud/aio/bigquery/dataset.py
  bigquery/gcloud/aio/bigquery/job.py
  bigquery/gcloud/aio/bigquery/table.py
  datastore/gcloud/aio/datastore/datastore.py
  docs/aio.md
  docs/gcloud.md
  docs/rest.md
  kms/gcloud/aio/kms/kms.py
  pubsub/gcloud/aio/pubsub/publisher_client.py
  pubsub/gcloud/aio/pubsub/subscriber_client.py
  storage/gcloud/aio/storage/storage.py
  storage/tests/unit/upload_retry_test.py
  taskqueue/gcloud/aio/taskqueue/queue.py
Owners: @talkiq/engineering, @TheKevJames, @shaundialpad

feat: load emulator hosts at runtime (#557)
  bigquery/gcloud/aio/bigquery/bigquery.py
  bigquery/gcloud/aio/bigquery/dataset.py
  bigquery/gcloud/aio/bigquery/job.py
  bigquery/gcloud/aio/bigquery/table.py
  datastore/gcloud/aio/datastore/datastore.py
  docs/aio.md
  docs/gcloud.md
  docs/rest.md
  kms/gcloud/aio/kms/kms.py
  pubsub/gcloud/aio/pubsub/publisher_client.py
  pubsub/gcloud/aio/pubsub/subscriber_client.py
  storage/gcloud/aio/storage/storage.py
  storage/tests/unit/upload_retry_test.py
  taskqueue/gcloud/aio/taskqueue/queue.py
Owners: @talkiq/engineering, @TheKevJames, @shaundialpad

[skip ci] updated docs
  gcloud.html
  gcloud/aio.html
  gcloud/aio/bigquery.html
  gcloud/aio/datastore.html
  gcloud/aio/kms.html
  gcloud/aio/pubsub.html
  gcloud/aio/storage.html
  gcloud/aio/taskqueue.html
  gcloud/rest.html
  gcloud/rest/bigquery.html
  gcloud/rest/datastore.html
  gcloud/rest/kms.html
  gcloud/rest/pubsub.html
  gcloud/rest/storage.html
  gcloud/rest/taskqueue.html
  search.js
Owners: @talkiq/engineering, @TheKevJames
