Repository talkiq/gcloud-aio, changes with the owners that .github/CODEOWNERS names for each.
All owners: @talkiq/engineering, @TheKevJames, @shaundialpad

Restore url signing by using the signBlob endpoint of the IAM API
  storage/gcloud/aio/storage/blob.py
  storage/tests/integration/signed_url_test.py
Owners: @talkiq/engineering, @TheKevJames

Restore url signing by using the signBlob endpoint of the IAM API
  storage/gcloud/aio/storage/blob.py
  storage/tests/integration/signed_url_test.py
Owners: @talkiq/engineering, @TheKevJames

Fix test imports
  storage/tests/integration/signed_url_test.py
Owners: @talkiq/engineering, @TheKevJames

chore(deps): update node.js to v21.6.0 (#664)
  .circleci/config.yml
Owners: @talkiq/engineering, @TheKevJames

Bump version + Improve error handling + Fix test
  storage/gcloud/aio/storage/blob.py
  storage/pyproject.toml
  storage/tests/integration/signed_url_test.py
Owners: @talkiq/engineering, @TheKevJames

Fix iam signature
  storage/gcloud/aio/storage/blob.py
Owners: @talkiq/engineering, @TheKevJames

Add temporary signature debug
  storage/gcloud/aio/storage/blob.py
Owners: @talkiq/engineering, @TheKevJames

Temporary version bump to test
  storage/pyproject.toml
Owners: @TheKevJames

Temporary version bump to test
  storage/pyproject.toml
Owners: @TheKevJames

Fix credential building
  storage/gcloud/aio/storage/blob.py
  storage/pyproject.toml
Owners: @talkiq/engineering, @TheKevJames

Fix version and remove debug print
  storage/gcloud/aio/storage/blob.py
  storage/pyproject.toml
Owners: @talkiq/engineering, @TheKevJames

Fix lint
  storage/gcloud/aio/storage/blob.py
  storage/tests/integration/signed_url_test.py
Owners: @talkiq/engineering, @TheKevJames

Fix line too long
  storage/tests/integration/signed_url_test.py
Owners: @talkiq/engineering, @TheKevJames

Fix more linting issues
  storage/gcloud/aio/storage/blob.py
Owners: @talkiq/engineering, @TheKevJames

Add type casting
  storage/gcloud/aio/storage/blob.py
Owners: @talkiq/engineering, @TheKevJames

Fix type casting
  storage/gcloud/aio/storage/blob.py
Owners: @talkiq/engineering, @TheKevJames

fix(storage): implement blob signing for GCE_METADATA tokens (#671)
  storage/gcloud/aio/storage/blob.py
  storage/pyproject.toml
  storage/tests/integration/signed_url_test.py
Owners: @talkiq/engineering, @TheKevJames

chore(release): bump version
  auth/poetry.rest.lock
  auth/pyproject.rest.toml
  bigquery/poetry.rest.lock
  bigquery/pyproject.rest.toml
  datastore/poetry.rest.lock
  datastore/pyproject.rest.toml
  kms/poetry.rest.lock
  kms/pyproject.rest.toml
  pubsub/poetry.rest.lock
  pubsub/pyproject.rest.toml
  storage/poetry.rest.lock
  storage/pyproject.rest.toml
  taskqueue/poetry.rest.lock
  taskqueue/pyproject.rest.toml
Owners: @talkiq/engineering, @TheKevJames, @shaundialpad

chore(deps): update dependency pytest to v8
  auth/poetry.lock
  auth/pyproject.toml
  bigquery/poetry.lock
  bigquery/pyproject.toml
  datastore/poetry.lock
  datastore/pyproject.toml
  kms/poetry.lock
  kms/pyproject.toml
  pubsub/poetry.lock
  pubsub/pyproject.toml
  storage/poetry.lock
  storage/pyproject.toml
  taskqueue/poetry.lock
  taskqueue/pyproject.toml
Owners: @TheKevJames, @shaundialpad

chore(deps): update dependency pytest to v8
  auth/poetry.lock
  auth/pyproject.toml
  bigquery/poetry.lock
  bigquery/pyproject.toml
  datastore/poetry.lock
  datastore/pyproject.toml
  kms/poetry.lock
  kms/pyproject.toml
  pubsub/poetry.lock
  pubsub/pyproject.toml
  storage/poetry.lock
  storage/pyproject.toml
  taskqueue/poetry.lock
  taskqueue/pyproject.toml
Owners: @TheKevJames, @shaundialpad

chore(ci): add py312 to matrix test targets
  .circleci/config.yml
Owners: @talkiq/engineering, @TheKevJames

chore(taskqueue): bump test code for py3.11 deprecation
  taskqueue/tests/integration/pushqueue_test.py
Owners: @talkiq/engineering, @TheKevJames

chore(auth): handle aiohttp "deprecation" of ssl=None
  auth/gcloud/aio/auth/session.py
Owners: @talkiq/engineering, @TheKevJames

refactor: .utcnow() -> .now(utc)
  auth/gcloud/aio/auth/token.py
  storage/gcloud/aio/storage/blob.py
Owners: @talkiq/engineering, @TheKevJames

chore(ci): add py312 to matrix test targets (#654)
  .circleci/config.yml
  auth/gcloud/aio/auth/session.py
  auth/gcloud/aio/auth/token.py
  storage/gcloud/aio/storage/blob.py
  taskqueue/tests/integration/pushqueue_test.py
Owners: @talkiq/engineering, @TheKevJames

chore(deps): update python docker tag to v3.11.7
  .circleci/config.yml
Owners: @talkiq/engineering, @TheKevJames

chore(deps): update python docker tag to v3.11.7 (#660)
  .circleci/config.yml
Owners: @talkiq/engineering, @TheKevJames

chore(deps): update node.js to v21.6.1
  .circleci/config.yml
Owners: @talkiq/engineering, @TheKevJames

chore(deps): update node.js to v21.6.1 (#675)
  .circleci/config.yml
Owners: @talkiq/engineering, @TheKevJames

chore: bump renovate config
  .github/renovate.json5
Owners: @talkiq/engineering, @TheKevJames

chore(deps): update python docker tag to v3.11.8
  .circleci/config.yml
Owners: @talkiq/engineering, @TheKevJames

chore(deps): update python docker tag to v3.11.8
  .circleci/config.yml
Owners: @talkiq/engineering, @TheKevJames

chore(deps): update python docker tag to v3.12.2
  .circleci/config.yml
Owners: @talkiq/engineering, @TheKevJames

chore(deps): update python docker tag to v3.12.2
  .circleci/config.yml
Owners: @talkiq/engineering, @TheKevJames

chore(deps): update node.js to v21.6.2
  .circleci/config.yml
Owners: @talkiq/engineering, @TheKevJames

chore(deps): update node.js to v21.6.2
  .circleci/config.yml
Owners: @talkiq/engineering, @TheKevJames

feat(bigquery): add location for Big Query job (#658)
  bigquery/gcloud/aio/bigquery/bigquery.py
  bigquery/gcloud/aio/bigquery/job.py
Owners: @talkiq/engineering, @TheKevJames

chore(deps): update lockfiles
  auth/poetry.lock
  auth/poetry.rest.lock
  auth/pyproject.rest.toml
  auth/pyproject.toml
  bigquery/poetry.lock
  bigquery/poetry.rest.lock
  bigquery/pyproject.rest.toml
  datastore/poetry.lock
  datastore/poetry.rest.lock
  datastore/pyproject.rest.toml
  datastore/pyproject.toml
  kms/poetry.lock
  kms/poetry.rest.lock
  kms/pyproject.rest.toml
  pubsub/poetry.lock
  pubsub/poetry.rest.lock
  pubsub/pyproject.rest.toml
  pubsub/pyproject.toml
  storage/poetry.lock
  storage/poetry.rest.lock
  storage/pyproject.rest.toml
  taskqueue/poetry.lock
  taskqueue/poetry.rest.lock
  taskqueue/pyproject.rest.toml
  taskqueue/pyproject.toml
Owners: @TheKevJames, @talkiq/engineering, @shaundialpad

fix(deps): declare aiohttp incompatibility
  auth/poetry.lock
  auth/pyproject.rest.toml
  auth/pyproject.toml
  datastore/poetry.lock
  datastore/pyproject.rest.toml
  datastore/pyproject.toml
  pubsub/poetry.lock
  pubsub/pyproject.rest.toml
  pubsub/pyproject.toml
  taskqueue/pyproject.rest.toml
  taskqueue/pyproject.toml
Owners: @TheKevJames, @talkiq/engineering, @shaundialpad

chore(deps): rebuild taskqueue lockfils
  taskqueue/poetry.lock
Owners: @TheKevJames

.github/CODEOWNERS:

*                   @talkiq/engineering @TheKevJames

pyproject.toml      @TheKevJames
poetry.lock         @TheKevJames

/pubsub             @TheKevJames @shaundialpad
