Repository talkiq/gcloud-aio, changes with the owners that .github/CODEOWNERS names for each.
All owners: @talkiq/engineering, @TheKevJames, @shaundialpad

fix(rest): build rest without prometheus-client
  auth/poetry.rest.lock
  auth/pyproject.rest.toml
  bigquery/poetry.rest.lock
  bigquery/pyproject.rest.toml
  bin/build-rest
  datastore/poetry.rest.lock
  datastore/pyproject.rest.toml
  pubsub/poetry.rest.lock
  pubsub/pyproject.rest.toml
  storage/poetry.rest.lock
  storage/pyproject.rest.toml
  taskqueue/poetry.rest.lock
  taskqueue/pyproject.rest.toml
Owners: @talkiq/engineering, @TheKevJames, @shaundialpad

fix(auth): Fix Token for stored credentials on Windows
  auth/gcloud/aio/auth/token.py
Owners: @talkiq/engineering, @TheKevJames

refactor(pubsub): pull out num msgs received metric
  pubsub/README.rst
  pubsub/gcloud/aio/pubsub/metrics.py
  pubsub/gcloud/aio/pubsub/subscriber.py
Owners: @TheKevJames, @shaundialpad

feat(pubsub): add batch size histogram metric
  pubsub/README.rst
  pubsub/gcloud/aio/pubsub/metrics.py
  pubsub/gcloud/aio/pubsub/subscriber.py
Owners: @TheKevJames, @shaundialpad

chore(pubsub): remove _total units in metrics
  pubsub/README.rst
  pubsub/gcloud/aio/pubsub/metrics.py
Owners: @TheKevJames, @shaundialpad

feat(olly): enable prometheus metrics in pubsub (#425)
  auth/poetry.rest.lock
  auth/pyproject.rest.toml
  bigquery/poetry.rest.lock
  bigquery/pyproject.rest.toml
  bin/build-rest
  datastore/poetry.rest.lock
  datastore/pyproject.rest.toml
  pubsub/README.rst
  pubsub/gcloud/aio/pubsub/__init__.py
  pubsub/gcloud/aio/pubsub/metrics.py
  pubsub/gcloud/aio/pubsub/subscriber.py
  pubsub/poetry.lock
  pubsub/poetry.rest.lock
  pubsub/pyproject.rest.toml
  pubsub/pyproject.toml
  pubsub/tests/unit/subscriber_test.py
  storage/poetry.rest.lock
  storage/pyproject.rest.toml
  taskqueue/poetry.rest.lock
  taskqueue/pyproject.rest.toml
Owners: @talkiq/engineering, @TheKevJames, @shaundialpad

chore(pubsub): bump minor version
  pubsub/pyproject.rest.toml
  pubsub/pyproject.toml
Owners: @TheKevJames, @shaundialpad

[skip ci] updated docs
  aio/pubsub/index.html
  aio/pubsub/metrics.html
  aio/pubsub/subscriber.html
  rest/pubsub/index.html
  rest/pubsub/metrics.html
  rest/pubsub/subscriber.html
Owners: @talkiq/engineering, @TheKevJames

chore(deps): update python docker tag to v3.8.15
  .circleci/config.yml
Owners: @talkiq/engineering, @TheKevJames

chore(deps): update python docker tag to v3.9.15
  .circleci/config.yml
Owners: @talkiq/engineering, @TheKevJames

chore(deps): update python docker tag to v3.10.8
  .circleci/config.yml
Owners: @talkiq/engineering, @TheKevJames

chore(release): bump version
  pubsub/poetry.rest.lock
  pubsub/pyproject.rest.toml
  pubsub/pyproject.toml
Owners: @TheKevJames, @shaundialpad

chore(release): un-break pubsub lockfile
  pubsub/poetry.rest.lock
  pubsub/pyproject.rest.toml
  pubsub/pyproject.toml
Owners: @TheKevJames, @shaundialpad

chore(deps): update node.js to v19
  .circleci/config.yml
Owners: @talkiq/engineering, @TheKevJames

Use aiohttp with contextmanager
  pubsub/gcloud/aio/pubsub/publisher_client.py
Owners: @TheKevJames, @shaundialpad

chore(deps): bump pre-commit config
  .pre-commit-config.yaml
Owners: @talkiq/engineering, @TheKevJames

chore(deps): update dependency cffi to < 1.15.2
  auth/poetry.lock
  auth/pyproject.toml
Owners: @TheKevJames

chore(deps): update python docker tag to v3.8.15
  .circleci/config.yml
Owners: @talkiq/engineering, @TheKevJames

chore(deps): update python docker tag to v3.9.15
  .circleci/config.yml
Owners: @talkiq/engineering, @TheKevJames

chore(deps): update dependency pytest-asyncio to >= 0.16.0, < 0.20.2
  auth/poetry.lock
  auth/pyproject.toml
  bigquery/poetry.lock
  bigquery/pyproject.toml
  datastore/poetry.lock
  datastore/pyproject.toml
  pubsub/poetry.lock
  pubsub/pyproject.toml
  storage/poetry.lock
  storage/pyproject.toml
  taskqueue/poetry.lock
  taskqueue/pyproject.toml
Owners: @TheKevJames, @shaundialpad

chore(deps): update dependency aiofiles to v22
  storage/poetry.lock
  storage/pyproject.toml
Owners: @TheKevJames

chore(deps): update dependency cryptography to v38
  auth/poetry.lock
  auth/pyproject.toml
Owners: @TheKevJames

chore(deps): update node.js to v19
  .circleci/config.yml
Owners: @talkiq/engineering, @TheKevJames

fix: use context manager for aiohttp requests
  auth/gcloud/aio/auth/session.py
Owners: @talkiq/engineering, @TheKevJames

chore(deps): update python docker tag to v3.11.0
  .circleci/config.yml
Owners: @talkiq/engineering, @TheKevJames

Check PUBSUB_EMULATOR_HOST at runtime instead of import time
  pubsub/gcloud/aio/pubsub/subscriber_client.py
Owners: @TheKevJames, @shaundialpad

check if data['key'] is not none
  datastore/gcloud/aio/datastore/entity.py
Owners: @talkiq/engineering, @TheKevJames

refactor(storage): storage_emulator_host attr added
  storage/gcloud/aio/storage/storage.py
Owners: @talkiq/engineering, @TheKevJames

Update README.rst
  storage/README.rst
Owners: @talkiq/engineering, @TheKevJames

fallback to GOOGLE_CLOUD_PROJECT env var for project name on local dev
  datastore/gcloud/aio/datastore/datastore.py
Owners: @talkiq/engineering, @TheKevJames

ISSUE-547 Fix SSL verification parameter in auth session
  auth/gcloud/aio/auth/session.py
Owners: @talkiq/engineering, @TheKevJames

feat(datastore): fallback to $GOOGLE_CLOUD_PROJECT for local dev (#545)
  datastore/gcloud/aio/datastore/datastore.py
Owners: @talkiq/engineering, @TheKevJames

[skip ci] updated docs
  aio/datastore/datastore.html
  aio/datastore/index.html
  rest/datastore/datastore.html
  rest/datastore/index.html
Owners: @talkiq/engineering, @TheKevJames

chore(deps): bump linters
  .pre-commit-config.yaml
  auth/gcloud/__init__.py
  auth/gcloud/aio/__init__.py
  auth/gcloud/aio/auth/session.py
  auth/gcloud/aio/auth/token.py
  auth/tests/unit/iam_test.py
  auth/tests/unit/token_test.py
  auth/tests/unit/utils_test.py
  bigquery/gcloud/__init__.py
  bigquery/gcloud/aio/__init__.py
  bigquery/tests/unit/bigquery_test.py
  datastore/gcloud/__init__.py
  datastore/gcloud/aio/__init__.py
  datastore/gcloud/aio/datastore/array.py
  datastore/gcloud/aio/datastore/datastore.py
  datastore/tests/unit/constants_test.py
  kms/gcloud/__init__.py
  kms/gcloud/aio/__init__.py
  kms/tests/unit/kms_test.py
  pubsub/gcloud/__init__.py
  pubsub/gcloud/aio/__init__.py
  pubsub/gcloud/aio/pubsub/subscriber.py
  storage/gcloud/__init__.py
  storage/gcloud/aio/__init__.py
  storage/gcloud/aio/storage/bucket.py
  storage/gcloud/aio/storage/storage.py
  storage/tests/unit/blob_test.py
  storage/tests/unit/bucket_test.py
  storage/tests/unit/storage_test.py
  taskqueue/gcloud/__init__.py
  taskqueue/gcloud/aio/__init__.py
  taskqueue/tests/unit/utils_test.py
Owners: @talkiq/engineering, @TheKevJames, @shaundialpad

[skip ci] updated docs
  aio/auth/session.html
  aio/auth/token.html
  aio/datastore/array.html
  aio/datastore/datastore.html
  aio/datastore/index.html
  aio/index.html
  aio/pubsub/subscriber.html
  aio/storage/bucket.html
  aio/storage/index.html
  aio/storage/storage.html
  index.html
  rest/auth/session.html
  rest/auth/token.html
  rest/datastore/array.html
  rest/datastore/datastore.html
  rest/datastore/index.html
  rest/index.html
  rest/pubsub/subscriber.html
  rest/storage/bucket.html
  rest/storage/index.html
  rest/storage/storage.html
Owners: @talkiq/engineering, @TheKevJames

chore(ci): set default python version
  .pre-commit-config.yaml
Owners: @talkiq/engineering, @TheKevJames

chore(release): bump datastore version
  datastore/poetry.lock
  datastore/poetry.rest.lock
  datastore/pyproject.rest.toml
  datastore/pyproject.toml
Owners: @TheKevJames, @talkiq/engineering

chore(deps): fixup backports.functools-lru-cache name
  datastore/poetry.rest.lock
Owners: @talkiq/engineering, @TheKevJames

Fetch table data
  bigquery/gcloud/aio/bigquery/table.py
Owners: @talkiq/engineering, @TheKevJames

fetch table data
  bigquery/gcloud/aio/bigquery/table.py
Owners: @talkiq/engineering, @TheKevJames

.github/CODEOWNERS:

*                   @talkiq/engineering @TheKevJames

pyproject.toml      @TheKevJames
poetry.lock         @TheKevJames

/pubsub             @TheKevJames @shaundialpad
