Repository talkiq/gcloud-aio, changes with the owners that .github/CODEOWNERS names for each.
All owners: @talkiq/engineering, @TheKevJames, @shaundialpad

fix(auth): fix ssl verification for emulator sessions
  auth/gcloud/aio/auth/session.py
Owners: @talkiq/engineering, @TheKevJames

[skip ci] updated docs
  gcloud/aio/auth.html
Owners: @talkiq/engineering, @TheKevJames

fix(auth): allow token refresh attempts after future cancellation
  auth/gcloud/aio/auth/token.py
Owners: @talkiq/engineering, @TheKevJames

[skip ci] updated docs
  gcloud/aio/auth.html
  gcloud/rest/auth.html
Owners: @talkiq/engineering, @TheKevJames

docs(pubsub): include docs on threaded subscribe cancellation
  pubsub/gcloud/aio/pubsub/__init__.py
Owners: @TheKevJames, @shaundialpad

[skip ci] updated docs
  gcloud/aio/pubsub.html
  gcloud/rest/pubsub.html
  search.js
Owners: @talkiq/engineering, @TheKevJames

chore: re-introduce license files
  auth/LICENSE
  bigquery/LICENSE
  datastore/LICENSE
  kms/LICENSE
  pubsub/LICENSE
  storage/LICENSE
  taskqueue/LICENSE
Owners: @talkiq/engineering, @TheKevJames, @shaundialpad

chore(release): bump version
  auth/poetry.lock
  auth/pyproject.rest.toml
  auth/pyproject.toml
Owners: @TheKevJames, @talkiq/engineering

[skip ci] updated docs
  gcloud/aio/auth.html
  gcloud/rest/auth.html
Owners: @talkiq/engineering, @TheKevJames

wip
  .pre-commit-config.yaml
Owners: @talkiq/engineering, @TheKevJames

[skip ci] updated docs
  gcloud/aio/auth.html
  gcloud/aio/bigquery.html
  gcloud/aio/datastore.html
  gcloud/aio/kms.html
  gcloud/aio/pubsub.html
  gcloud/aio/storage.html
  gcloud/aio/taskqueue.html
  gcloud/rest/auth.html
  gcloud/rest/bigquery.html
  gcloud/rest/datastore.html
  gcloud/rest/kms.html
  gcloud/rest/pubsub.html
  gcloud/rest/storage.html
  gcloud/rest/taskqueue.html
Owners: @talkiq/engineering, @TheKevJames

chore(auth): fixup dict vs mapping type hints
  .pre-commit-config.yaml
  auth/gcloud/aio/auth/session.py
  auth/pyproject.rest.toml
  auth/pyproject.toml
Owners: @talkiq/engineering, @TheKevJames

[skip ci] updated docs
  gcloud/aio/auth.html
  gcloud/rest/auth.html
  search.js
Owners: @talkiq/engineering, @TheKevJames

refactor(lint): fixup lint issues
  .pre-commit-config.yaml
  bigquery/gcloud/aio/bigquery/bigquery.py
  datastore/gcloud/aio/datastore/datastore.py
  kms/gcloud/aio/kms/kms.py
  pubsub/gcloud/aio/pubsub/publisher_client.py
  pubsub/gcloud/aio/pubsub/subscriber_client.py
  storage/gcloud/aio/storage/storage.py
  taskqueue/gcloud/aio/taskqueue/queue.py
Owners: @talkiq/engineering, @TheKevJames, @shaundialpad

[skip ci] updated docs
  gcloud/aio/datastore.html
  gcloud/aio/kms.html
  gcloud/aio/pubsub.html
  gcloud/aio/storage.html
  gcloud/aio/taskqueue.html
  gcloud/rest/datastore.html
  gcloud/rest/kms.html
  gcloud/rest/pubsub.html
  gcloud/rest/storage.html
  gcloud/rest/taskqueue.html
Owners: @talkiq/engineering, @TheKevJames

chore(auth): fixup some session data types
  .pre-commit-config.yaml
  auth/gcloud/aio/auth/session.py
  auth/pyproject.rest.toml
  auth/pyproject.toml
Owners: @talkiq/engineering, @TheKevJames

[skip ci] updated docs
  gcloud/aio/auth.html
  gcloud/rest/auth.html
  search.js
Owners: @talkiq/engineering, @TheKevJames

chore(types): make use of new auth-4.1.2 fixed type hints
  .pre-commit-config.yaml
  bigquery/gcloud/aio/bigquery/table.py
  pubsub/gcloud/aio/pubsub/publisher_client.py
  pubsub/gcloud/aio/pubsub/subscriber_client.py
  storage/gcloud/aio/storage/storage.py
  taskqueue/gcloud/aio/taskqueue/queue.py
Owners: @talkiq/engineering, @TheKevJames, @shaundialpad

[skip ci] updated docs
  gcloud/aio/bigquery.html
  gcloud/aio/pubsub.html
  gcloud/aio/storage.html
  gcloud/aio/taskqueue.html
  gcloud/rest/bigquery.html
  gcloud/rest/pubsub.html
  gcloud/rest/storage.html
  gcloud/rest/taskqueue.html
Owners: @talkiq/engineering, @TheKevJames

fix(DeprecationWarning): in py3.11 aiohttp will throw a deprecation warning when passing verify_ssl
  auth/gcloud/aio/auth/session.py
Owners: @talkiq/engineering, @TheKevJames

chore(release): bump to 4.1.3
  auth/pyproject.rest.toml
  auth/pyproject.toml
Owners: @talkiq/engineering, @TheKevJames

chore(release): bump versions
  bigquery/pyproject.rest.toml
  bigquery/pyproject.toml
  datastore/pyproject.rest.toml
  datastore/pyproject.toml
  kms/pyproject.rest.toml
  kms/pyproject.toml
  pubsub/pyproject.rest.toml
  pubsub/pyproject.toml
  storage/pyproject.rest.toml
  storage/pyproject.toml
  taskqueue/pyproject.rest.toml
  taskqueue/pyproject.toml
Owners: @talkiq/engineering, @TheKevJames, @shaundialpad

[skip ci] updated docs
  gcloud/aio/bigquery.html
  gcloud/aio/datastore.html
  gcloud/aio/kms.html
  gcloud/aio/pubsub.html
  gcloud/aio/storage.html
  gcloud/aio/taskqueue.html
  gcloud/rest/bigquery.html
  gcloud/rest/datastore.html
  gcloud/rest/kms.html
  gcloud/rest/pubsub.html
  gcloud/rest/storage.html
  gcloud/rest/taskqueue.html
Owners: @talkiq/engineering, @TheKevJames

feat(taskqueue): delete deprecated util methods
  taskqueue/gcloud/aio/taskqueue/__init__.py
  taskqueue/gcloud/aio/taskqueue/utils.py
  taskqueue/tests/unit/queue_test.py
  taskqueue/tests/unit/utils_test.py
Owners: @talkiq/engineering, @TheKevJames

feat(taskqueue): add helper fn for constructing task names
  taskqueue/gcloud/aio/taskqueue/queue.py
Owners: @talkiq/engineering, @TheKevJames

feat(taskqueue): add helper fn for constructing task names (#560)
  taskqueue/gcloud/aio/taskqueue/queue.py
Owners: @talkiq/engineering, @TheKevJames

[skip ci] updated docs
  gcloud.html
  gcloud/aio/auth.html
  gcloud/aio/bigquery.html
  gcloud/aio/datastore.html
  gcloud/aio/kms.html
  gcloud/aio/pubsub.html
  gcloud/aio/storage.html
  gcloud/aio/taskqueue.html
  gcloud/rest/auth.html
  gcloud/rest/bigquery.html
  gcloud/rest/datastore.html
  gcloud/rest/kms.html
  gcloud/rest/pubsub.html
  gcloud/rest/storage.html
  gcloud/rest/taskqueue.html
  search.js
Owners: @talkiq/engineering, @TheKevJames

chore(release): bump version
  taskqueue/pyproject.rest.toml
  taskqueue/pyproject.toml
Owners: @talkiq/engineering, @TheKevJames

[skip ci] updated docs
  gcloud/aio/taskqueue.html
  gcloud/rest/taskqueue.html
Owners: @talkiq/engineering, @TheKevJames

fix: use `ssl` instead of `verify_ssl` in aiohttp.TCPConnector
  auth/gcloud/aio/auth/session.py
Owners: @talkiq/engineering, @TheKevJames

fix(DeprecationWarning): thrown by aiohttp in python3.11 by using ssl instead of verify_ssl (#558)
  auth/gcloud/aio/auth/session.py
  auth/pyproject.rest.toml
  auth/pyproject.toml
Owners: @talkiq/engineering, @TheKevJames

[skip ci] updated docs
  gcloud/aio/auth.html
  gcloud/rest/auth.html
Owners: @talkiq/engineering, @TheKevJames

chore(deps): update node.js to v19.4.0
  .circleci/config.yml
Owners: @talkiq/engineering, @TheKevJames

chore(poetry-publish): use pypi-token env variable for `poetry publish`
  .circleci/config.yml
Owners: @talkiq/engineering, @TheKevJames

chore(poetry-publish): use pypi-token env variable for `poetry publish` (#566)
  .circleci/config.yml
Owners: @talkiq/engineering, @TheKevJames

[skip ci] updated docs
  gcloud.html
  gcloud/aio.html
  gcloud/aio/auth.html
  gcloud/aio/bigquery.html
  gcloud/aio/datastore.html
  gcloud/aio/kms.html
  gcloud/aio/pubsub.html
  gcloud/aio/storage.html
  gcloud/aio/taskqueue.html
  gcloud/rest.html
  gcloud/rest/auth.html
  gcloud/rest/bigquery.html
  gcloud/rest/datastore.html
  gcloud/rest/kms.html
  gcloud/rest/pubsub.html
  gcloud/rest/storage.html
  gcloud/rest/taskqueue.html
Owners: @talkiq/engineering, @TheKevJames

feat: bump version for gcloud-*-auth to 4.1.4
  auth/pyproject.rest.toml
  auth/pyproject.toml
Owners: @talkiq/engineering, @TheKevJames

feat: bump version for gcloud-*-auth to 4.1.4 (#568)
  auth/pyproject.rest.toml
  auth/pyproject.toml
Owners: @talkiq/engineering, @TheKevJames

[skip ci] updated docs
  gcloud/aio/auth.html
  gcloud/rest/auth.html
Owners: @talkiq/engineering, @TheKevJames

fix(circleci): bad interpolation when creating PYPI_TOKEN_*
  .circleci/config.yml
Owners: @talkiq/engineering, @TheKevJames

.github/CODEOWNERS:

*                   @talkiq/engineering @TheKevJames

pyproject.toml      @TheKevJames
poetry.lock         @TheKevJames

/pubsub             @TheKevJames @shaundialpad
