Repository talkiq/gcloud-aio, changes with the owners that .github/CODEOWNERS names for each.
All owners: @talkiq/engineering, @TheKevJames, @shaundialpad

chore(deps): nuke unused dev dependencies
  bigquery/poetry.lock
  bigquery/poetry.rest.lock
  bigquery/pyproject.rest.toml
  bigquery/pyproject.toml
  datastore/poetry.lock
  datastore/poetry.rest.lock
  datastore/pyproject.rest.toml
  datastore/pyproject.toml
Owners: @TheKevJames, @talkiq/engineering

chore(deps): bump max supported cryptography
  auth/poetry.lock
  auth/poetry.rest.lock
  auth/pyproject.rest.toml
  auth/pyproject.toml
Owners: @TheKevJames, @talkiq/engineering

Accept the official format for `STORAGE_EMULATOR_HOST` env var
  storage/gcloud/aio/storage/storage.py
Owners: @talkiq/engineering, @TheKevJames

chore(storage): backwards compatibility for host change
  storage/gcloud/aio/storage/storage.py
Owners: @talkiq/engineering, @TheKevJames

docs(storage): update docs for host change
  storage/gcloud/aio/storage/__init__.py
Owners: @talkiq/engineering, @TheKevJames

fix(storage): accept the official format for `$STORAGE_EMULATOR_HOST` (#632)
  storage/gcloud/aio/storage/__init__.py
  storage/gcloud/aio/storage/storage.py
Owners: @talkiq/engineering, @TheKevJames

chore(release): bump version
  auth/pyproject.rest.toml
  auth/pyproject.toml
Owners: @talkiq/engineering, @TheKevJames

[skip ci] updated docs
  gcloud/aio.html
  gcloud/aio/auth.html
  gcloud/rest.html
  gcloud/rest/auth.html
  search.js
Owners: @talkiq/engineering, @TheKevJames

chore(release): bump versions
  bigquery/poetry.lock
  bigquery/poetry.rest.lock
  bigquery/pyproject.rest.toml
  bigquery/pyproject.toml
  datastore/poetry.lock
  datastore/poetry.rest.lock
  datastore/pyproject.rest.toml
  datastore/pyproject.toml
  kms/poetry.lock
  kms/poetry.rest.lock
  kms/pyproject.rest.toml
  kms/pyproject.toml
  pubsub/poetry.lock
  pubsub/poetry.rest.lock
  pubsub/pyproject.rest.toml
  pubsub/pyproject.toml
  storage/poetry.lock
  storage/poetry.rest.lock
  storage/pyproject.rest.toml
  storage/pyproject.toml
  taskqueue/poetry.lock
  taskqueue/poetry.rest.lock
  taskqueue/pyproject.rest.toml
  taskqueue/pyproject.toml
Owners: @TheKevJames, @talkiq/engineering, @shaundialpad

[skip ci] updated docs
  gcloud.html
  gcloud/aio.html
  gcloud/aio/auth.html
  gcloud/rest.html
  gcloud/rest/auth.html
  search.js
Owners: @talkiq/engineering, @TheKevJames

feat(auth): implement iap auth token
  auth/gcloud/aio/auth/session.py
  auth/gcloud/aio/auth/token.py
Owners: @talkiq/engineering, @TheKevJames

chore(auth): release alpha version for testing
  auth/pyproject.rest.toml
  auth/pyproject.toml
Owners: @talkiq/engineering, @TheKevJames

fix(auth): minor tweaks from manual testing
  auth/gcloud/aio/auth/token.py
Owners: @talkiq/engineering, @TheKevJames

[skip ci] updated docs
  _sources/autoapi/storage/index.rst.txt
  _sources/autoapi/storage/storage/index.rst.txt
  autoapi/storage/index.html
  autoapi/storage/storage/index.html
  searchindex.js
Owners: @talkiq/engineering, @TheKevJames

chore(auth): bump minor version
  auth/pyproject.rest.toml
  auth/pyproject.toml
Owners: @talkiq/engineering, @TheKevJames

Updates
  _sources/autoapi/storage/index.rst.txt
  _sources/autoapi/storage/storage/index.rst.txt
  autoapi/storage/index.html
  autoapi/storage/storage/index.html
  searchindex.js
Owners: @talkiq/engineering, @TheKevJames

refactor(auth): use BaseToken in unit test
  auth/tests/unit/token_test.py
Owners: @talkiq/engineering, @TheKevJames

[skip ci] updated docs
  _sources/autoapi/storage/index.rst.txt
  _sources/autoapi/storage/storage/index.rst.txt
  autoapi/storage/index.html
  autoapi/storage/storage/index.html
  searchindex.js
Owners: @talkiq/engineering, @TheKevJames

docs(auth): include IapToken documentation
  auth/README.rst
  auth/gcloud/aio/auth/__init__.py
Owners: @talkiq/engineering, @TheKevJames

refactor(auth): use class-level default token ttl
  auth/gcloud/aio/auth/token.py
Owners: @talkiq/engineering, @TheKevJames

refactor(session): remove allow_redirects on get method
  auth/gcloud/aio/auth/session.py
  auth/gcloud/aio/auth/token.py
Owners: @talkiq/engineering, @TheKevJames

refactor(auth): clarify impersonating sa arg name
  auth/README.rst
  auth/gcloud/aio/auth/__init__.py
  auth/gcloud/aio/auth/token.py
Owners: @talkiq/engineering, @TheKevJames

feat(auth): implement iap auth token (#637)
  auth/README.rst
  auth/gcloud/aio/auth/__init__.py
  auth/gcloud/aio/auth/session.py
  auth/gcloud/aio/auth/token.py
  auth/pyproject.rest.toml
  auth/pyproject.toml
  auth/tests/unit/token_test.py
Owners: @talkiq/engineering, @TheKevJames

fix(auth): use iap aud for gce metadata server
  auth/gcloud/aio/auth/token.py
Owners: @talkiq/engineering, @TheKevJames

docs(auth): add comment for iap
  auth/gcloud/aio/auth/token.py
Owners: @talkiq/engineering, @TheKevJames

chore(auth): bump to 5.1.1
  auth/pyproject.rest.toml
  auth/pyproject.toml
Owners: @talkiq/engineering, @TheKevJames

fix(auth): use iap aud for gce metadata server (#646)
  auth/gcloud/aio/auth/token.py
  auth/pyproject.rest.toml
  auth/pyproject.toml
Owners: @talkiq/engineering, @TheKevJames

perf(auth): avoid unnecessary token refresh on get_project()
  auth/gcloud/aio/auth/token.py
Owners: @talkiq/engineering, @TheKevJames

perf(auth): avoid unnecessary token refresh on get_project() (#653)
  auth/gcloud/aio/auth/token.py
Owners: @talkiq/engineering, @TheKevJames

feat(bigquery): Include params for _post_json() and _delete()
  bigquery/gcloud/aio/bigquery/bigquery.py
Owners: @talkiq/engineering, @TheKevJames

feat(bigquery): Include location for BigQuery Job
  bigquery/gcloud/aio/bigquery/job.py
Owners: @talkiq/engineering, @TheKevJames

chore(auth): bump to auth v5.1.2
  auth/pyproject.rest.toml
  auth/pyproject.toml
Owners: @talkiq/engineering, @TheKevJames

fix(auth): correctly set ssl flag for aio
  auth/gcloud/aio/auth/session.py
Owners: @talkiq/engineering, @TheKevJames

fix(bigquery): use backoff on smoke tests
  bigquery/tests/integration/smoke_test.py
Owners: @talkiq/engineering, @TheKevJames

fix(auth): correctly set ssl flag for aio (#661)
  auth/gcloud/aio/auth/session.py
  auth/pyproject.rest.toml
  auth/pyproject.toml
  bigquery/tests/integration/smoke_test.py
Owners: @talkiq/engineering, @TheKevJames

feat(storage): blob upload with content type
  storage/gcloud/aio/storage/blob.py
Owners: @talkiq/engineering, @TheKevJames

feat(auth): add support for service account impersonation
  auth/gcloud/aio/auth/__init__.py
  auth/gcloud/aio/auth/token.py
  auth/tests/integration/smoke_test.py
  bigquery/gcloud/aio/bigquery/bigquery.py
  datastore/gcloud/aio/datastore/datastore.py
  kms/gcloud/aio/kms/kms.py
  pubsub/gcloud/aio/pubsub/publisher_client.py
  pubsub/gcloud/aio/pubsub/subscriber_client.py
  storage/gcloud/aio/storage/storage.py
  taskqueue/gcloud/aio/taskqueue/queue.py
Owners: @talkiq/engineering, @TheKevJames, @shaundialpad

fix(bigquery) Add location param to BigQuery Job
  bigquery/gcloud/aio/bigquery/job.py
Owners: @talkiq/engineering, @TheKevJames

chore(renovate): migrate renovate config for recent updates
  .github/renovate.json5
Owners: @talkiq/engineering, @TheKevJames

chore(deps): update node.js to v21.6.0
  .circleci/config.yml
Owners: @talkiq/engineering, @TheKevJames

.github/CODEOWNERS:

*                   @talkiq/engineering @TheKevJames

pyproject.toml      @TheKevJames
poetry.lock         @TheKevJames

/pubsub             @TheKevJames @shaundialpad
