Repository talkiq/gcloud-aio, changes with the owners that .github/CODEOWNERS names for each.
All owners: @talkiq/engineering, @TheKevJames, @shaundialpad

.github/CODEOWNERS:

*                   @talkiq/engineering @TheKevJames

pyproject.toml      @TheKevJames
poetry.lock         @TheKevJames

/pubsub             @TheKevJames @shaundialpad

chore(release): bump version
  auth/pyproject.rest.toml
  auth/pyproject.toml
Owners: @talkiq/engineering, @TheKevJames

chore(release): bump version
  bigquery/poetry.rest.lock
  bigquery/pyproject.rest.toml
  bigquery/pyproject.toml
Owners: @talkiq/engineering, @TheKevJames

feat(auth): add support for service account impersonation
  auth/gcloud/aio/auth/__init__.py
  auth/gcloud/aio/auth/token.py
  auth/tests/integration/conftest.py
  auth/tests/integration/smoke_test.py
Owners: @talkiq/engineering, @TheKevJames

chore(release): bump version
  auth/pyproject.rest.toml
  auth/pyproject.toml
Owners: @talkiq/engineering, @TheKevJames

fix(storage): handle responseerror on finaly upload retry
  storage/gcloud/aio/storage/storage.py
Owners: @talkiq/engineering, @TheKevJames

feat(storage): blob upload with content type (#663)
  storage/gcloud/aio/storage/blob.py
Owners: @talkiq/engineering, @TheKevJames

[skip ci] updated docs
  .doctrees/autoapi/storage/blob/index.doctree
  .doctrees/autoapi/storage/index.doctree
  _sources/autoapi/storage/blob/index.rst.txt
  _sources/autoapi/storage/index.rst.txt
  autoapi/storage/blob/index.html
  autoapi/storage/index.html
  searchindex.js
Owners: @talkiq/engineering, @TheKevJames

chore(release): bump version
  storage/poetry.rest.lock
  storage/pyproject.rest.toml
  storage/pyproject.toml
Owners: @talkiq/engineering, @TheKevJames

chore(deps): update dependency pytest to v8.0.1
  auth/poetry.lock
  auth/pyproject.toml
  bigquery/poetry.lock
  bigquery/pyproject.toml
  datastore/poetry.lock
  datastore/pyproject.toml
  kms/poetry.lock
  kms/pyproject.toml
  pubsub/poetry.lock
  pubsub/pyproject.toml
  storage/poetry.lock
  storage/pyproject.toml
  taskqueue/poetry.lock
  taskqueue/pyproject.toml
Owners: @TheKevJames, @shaundialpad

chore(deps): update dependency pytest to v8.0.1
  auth/poetry.lock
  auth/pyproject.toml
  bigquery/poetry.lock
  bigquery/pyproject.toml
  datastore/poetry.lock
  datastore/pyproject.toml
  kms/poetry.lock
  kms/pyproject.toml
  pubsub/poetry.lock
  pubsub/pyproject.toml
  storage/poetry.lock
  storage/pyproject.toml
  taskqueue/poetry.lock
  taskqueue/pyproject.toml
Owners: @TheKevJames, @shaundialpad

chore(deps): update dependency pytest to v8.0.2
  auth/poetry.lock
  auth/pyproject.toml
  bigquery/poetry.lock
  bigquery/pyproject.toml
  datastore/poetry.lock
  datastore/pyproject.toml
  kms/poetry.lock
  kms/pyproject.toml
  pubsub/poetry.lock
  pubsub/pyproject.toml
  storage/poetry.lock
  storage/pyproject.toml
  taskqueue/poetry.lock
  taskqueue/pyproject.toml
Owners: @TheKevJames, @shaundialpad

chore(deps): update dependency pytest to v8.0.2
  auth/poetry.lock
  auth/pyproject.toml
  bigquery/poetry.lock
  bigquery/pyproject.toml
  datastore/poetry.lock
  datastore/pyproject.toml
  kms/poetry.lock
  kms/pyproject.toml
  pubsub/poetry.lock
  pubsub/pyproject.toml
  storage/poetry.lock
  storage/pyproject.toml
  taskqueue/poetry.lock
  taskqueue/pyproject.toml
Owners: @TheKevJames, @shaundialpad

chore(deps): update node.js to v21.7.0
  .circleci/config.yml
Owners: @talkiq/engineering, @TheKevJames

chore(deps): update node.js to v21.7.0
  .circleci/config.yml
Owners: @talkiq/engineering, @TheKevJames

fix(auth): missing guard for rest package
  auth/gcloud/aio/auth/token.py
Owners: @talkiq/engineering, @TheKevJames

fix(deps): fixup support for aiohttp >= 3.9.3
  auth/gcloud/aio/auth/session.py
  auth/poetry.lock
  auth/poetry.rest.lock
  auth/pyproject.rest.toml
  auth/pyproject.toml
  bigquery/poetry.rest.lock
  bigquery/pyproject.rest.toml
  datastore/poetry.rest.lock
  datastore/pyproject.rest.toml
  kms/poetry.rest.lock
  kms/pyproject.rest.toml
  pubsub/poetry.rest.lock
  pubsub/pyproject.rest.toml
  storage/poetry.rest.lock
  storage/pyproject.rest.toml
  taskqueue/poetry.rest.lock
  taskqueue/pyproject.rest.toml
Owners: @talkiq/engineering, @TheKevJames, @shaundialpad

fix(deps): fixup support for aiohttp >= 3.9.3 (#689)
  auth/gcloud/aio/auth/session.py
  auth/poetry.lock
  auth/poetry.rest.lock
  auth/pyproject.rest.toml
  auth/pyproject.toml
  bigquery/poetry.rest.lock
  bigquery/pyproject.rest.toml
  datastore/poetry.rest.lock
  datastore/pyproject.rest.toml
  kms/poetry.rest.lock
  kms/pyproject.rest.toml
  pubsub/poetry.rest.lock
  pubsub/pyproject.rest.toml
  storage/poetry.rest.lock
  storage/pyproject.rest.toml
  taskqueue/poetry.rest.lock
  taskqueue/pyproject.rest.toml
Owners: @talkiq/engineering, @TheKevJames, @shaundialpad

chore(release): bump version
  auth/poetry.rest.lock
  auth/pyproject.rest.toml
  auth/pyproject.toml
  bigquery/poetry.rest.lock
  bigquery/pyproject.rest.toml
  datastore/poetry.rest.lock
  datastore/pyproject.rest.toml
  kms/poetry.rest.lock
  kms/pyproject.rest.toml
  pubsub/poetry.rest.lock
  pubsub/pyproject.rest.toml
  storage/poetry.rest.lock
  storage/pyproject.rest.toml
  taskqueue/poetry.rest.lock
  taskqueue/pyproject.rest.toml
Owners: @talkiq/engineering, @TheKevJames, @shaundialpad

fix(rest-auth): resp.text() for aiohttp but resp.text for requests lib
  auth/gcloud/aio/auth/token.py
Owners: @talkiq/engineering, @TheKevJames

fix(rest-auth): resp.text() for aiohttp but resp.text for requests lib (#695)
  auth/gcloud/aio/auth/token.py
Owners: @talkiq/engineering, @TheKevJames

bump(auth): I forgot to bump the auth version (patch)
  auth/pyproject.toml
Owners: @TheKevJames

output from bin/build-rest
  auth/poetry.rest.lock
  auth/pyproject.rest.toml
Owners: @talkiq/engineering, @TheKevJames

bump(auth): I forgot to bump the auth version (patch) (#696)
  auth/poetry.rest.lock
  auth/pyproject.rest.toml
  auth/pyproject.toml
Owners: @talkiq/engineering, @TheKevJames

chore(pubsub): additional buckets to consume_latency prom metrics
  .github/CONTRIBUTING.rst
  pubsub/gcloud/aio/pubsub/metrics.py
  pubsub/poetry.rest.lock
  pubsub/pyproject.rest.toml
  pubsub/pyproject.toml
Owners: @talkiq/engineering, @TheKevJames, @shaundialpad

chore(pubsub): additional buckets to consume_latency prom metrics (#697)
  .github/CONTRIBUTING.rst
  pubsub/gcloud/aio/pubsub/metrics.py
  pubsub/poetry.rest.lock
  pubsub/pyproject.rest.toml
  pubsub/pyproject.toml
Owners: @talkiq/engineering, @TheKevJames, @shaundialpad

[skip ci] updated docs
  .doctrees/.github/CONTRIBUTING.doctree
  .github/CONTRIBUTING.html
  _sources/.github/CONTRIBUTING.rst.txt
Owners: @talkiq/engineering, @TheKevJames

feat(storage): support uploading gzipped files
  storage/gcloud/aio/storage/blob.py
  storage/gcloud/aio/storage/storage.py
  storage/tests/integration/signed_url_test.py
  storage/tests/integration/smoke_test.py
Owners: @talkiq/engineering, @TheKevJames

Remove unused method
  storage/gcloud/aio/storage/storage.py
Owners: @talkiq/engineering, @TheKevJames

chore(deps): lock file maintenance
  bigquery/poetry.lock
  datastore/poetry.lock
  kms/poetry.lock
  pubsub/poetry.lock
  storage/poetry.lock
  taskqueue/poetry.lock
Owners: @TheKevJames, @shaundialpad

chore(deps): lock file maintenance
  bigquery/poetry.lock
  datastore/poetry.lock
  kms/poetry.lock
  pubsub/poetry.lock
  storage/poetry.lock
  taskqueue/poetry.lock
Owners: @TheKevJames, @shaundialpad

Fix compression bug
  storage/gcloud/aio/storage/storage.py
Owners: @talkiq/engineering, @TheKevJames

chore(deps): update dependency pytest-asyncio to v0.23.6
  auth/poetry.lock
  auth/pyproject.toml
  bigquery/poetry.lock
  bigquery/pyproject.toml
  datastore/poetry.lock
  datastore/pyproject.toml
  pubsub/poetry.lock
  pubsub/pyproject.toml
  storage/poetry.lock
  storage/pyproject.toml
  taskqueue/poetry.lock
  taskqueue/pyproject.toml
Owners: @TheKevJames, @shaundialpad

chore(deps): update dependency pytest-asyncio to v0.23.6
  auth/poetry.lock
  auth/pyproject.toml
  bigquery/poetry.lock
  bigquery/pyproject.toml
  datastore/poetry.lock
  datastore/pyproject.toml
  pubsub/poetry.lock
  pubsub/pyproject.toml
  storage/poetry.lock
  storage/pyproject.toml
  taskqueue/poetry.lock
  taskqueue/pyproject.toml
Owners: @TheKevJames, @shaundialpad

Reset buffer position after compression
  storage/gcloud/aio/storage/storage.py
Owners: @talkiq/engineering, @TheKevJames

Fix buffer reset
  storage/gcloud/aio/storage/storage.py
Owners: @talkiq/engineering, @TheKevJames

Add comment and type hints
  storage/gcloud/aio/storage/storage.py
Owners: @talkiq/engineering, @TheKevJames

Fix type hints
  storage/gcloud/aio/storage/storage.py
Owners: @talkiq/engineering, @TheKevJames

Fix type hints
  storage/gcloud/aio/storage/storage.py
Owners: @talkiq/engineering, @TheKevJames

chore(deps): update python docker tag to v3.10.14
  .circleci/config.yml
Owners: @talkiq/engineering, @TheKevJames

chore(deps): update python docker tag to v3.10.14
  .circleci/config.yml
Owners: @talkiq/engineering, @TheKevJames
