Repository talkiq/gcloud-aio, changes with the owners that .github/CODEOWNERS names for each.
All owners: @talkiq/engineering, @TheKevJames, @shaundialpad

.github/CODEOWNERS:

*                   @talkiq/engineering @TheKevJames

pyproject.toml      @TheKevJames
poetry.lock         @TheKevJames

/pubsub             @TheKevJames @shaundialpad

fix(circleci): bad interpolation when creating PYPI_TOKEN_* (#570)
  .circleci/config.yml
Owners: @talkiq/engineering, @TheKevJames

fix: bad interpolation of token in BASH_ENV
  .circleci/config.yml
Owners: @talkiq/engineering, @TheKevJames

fix: bad interpolation of token in BASH_ENV (#571)
  .circleci/config.yml
Owners: @talkiq/engineering, @TheKevJames

feat(auth): bump `gcloud-*-auth` to 4.1.5 in order to re-release
  auth/pyproject.rest.toml
  auth/pyproject.toml
Owners: @talkiq/engineering, @TheKevJames

feat(auth): bump `gcloud-*-auth` to 4.1.5 in order to re-release (#572)
  auth/pyproject.rest.toml
  auth/pyproject.toml
Owners: @talkiq/engineering, @TheKevJames

[skip ci] updated docs
  gcloud/aio/auth.html
  gcloud/rest/auth.html
Owners: @talkiq/engineering, @TheKevJames

chore(deps): update node.js to v19.4.0 (#565)
  .circleci/config.yml
Owners: @talkiq/engineering, @TheKevJames

chore(deps): update dependency cryptography to v39
  auth/poetry.lock
  auth/pyproject.toml
Owners: @TheKevJames

feat(taskqueue): delete deprecated util methods (#559)
  taskqueue/gcloud/aio/taskqueue/__init__.py
  taskqueue/gcloud/aio/taskqueue/utils.py
  taskqueue/tests/unit/queue_test.py
  taskqueue/tests/unit/utils_test.py
Owners: @talkiq/engineering, @TheKevJames

[skip ci] updated docs
  gcloud/aio/taskqueue.html
  gcloud/rest/taskqueue.html
  search.js
Owners: @talkiq/engineering, @TheKevJames

feat(repo): remove unused settings app config
  .github/settings.yml
Owners: @talkiq/engineering, @TheKevJames

chore(deps): update node.js to v19.5.0
  .circleci/config.yml
Owners: @talkiq/engineering, @TheKevJames

feat(repo): update configs from repo-template
  .github/autoapproval.yml
  .github/workflows/autoapproval.yml
  .pre-commit-config.yaml
  auth/gcloud/aio/auth/token.py
  datastore/gcloud/aio/datastore/array.py
  storage/tests/unit/upload_retry_test.py
  stubs/__init__.py
  stubs/backoff.pyi
Owners: @talkiq/engineering, @TheKevJames

chore: fix lint
  datastore/gcloud/aio/datastore/array.py
Owners: @talkiq/engineering, @TheKevJames

Add delete method in bigquery, job and dataset
  bigquery/gcloud/aio/bigquery/bigquery.py
  bigquery/gcloud/aio/bigquery/dataset.py
  bigquery/gcloud/aio/bigquery/job.py
Owners: @talkiq/engineering, @TheKevJames

feat(taskqueue): add timeout argument and remove retries
  taskqueue/gcloud/aio/taskqueue/queue.py
Owners: @talkiq/engineering, @TheKevJames

Fix lint issues
  taskqueue/gcloud/aio/taskqueue/queue.py
Owners: @talkiq/engineering, @TheKevJames

chore(deps): update node.js to v19.5.0 (#579)
  .circleci/config.yml
Owners: @talkiq/engineering, @TheKevJames

Remove backoff dependency
  taskqueue/poetry.lock
  taskqueue/pyproject.toml
Owners: @TheKevJames

feat(taskqueue): add timeout argument and remove retries
  taskqueue/gcloud/aio/taskqueue/queue.py
  taskqueue/poetry.lock
  taskqueue/poetry.rest.lock
  taskqueue/pyproject.rest.toml
  taskqueue/pyproject.toml
Owners: @talkiq/engineering, @TheKevJames

[skip ci] updated docs
  gcloud/aio/taskqueue.html
  gcloud/rest/taskqueue.html
  search.js
Owners: @talkiq/engineering, @TheKevJames

docs: update contrib guide for poetry119 issues
  .github/CONTRIBUTING.rst
Owners: @talkiq/engineering, @TheKevJames

feat(bigquery): add delete method in job and dataset
  bigquery/gcloud/aio/bigquery/bigquery.py
  bigquery/gcloud/aio/bigquery/dataset.py
  bigquery/gcloud/aio/bigquery/job.py
Owners: @talkiq/engineering, @TheKevJames

[skip ci] updated docs
  gcloud/aio/bigquery.html
  gcloud/rest/bigquery.html
  search.js
Owners: @talkiq/engineering, @TheKevJames

feat(ci): use repo-local secrets
  .circleci/config.yml
Owners: @talkiq/engineering, @TheKevJames

feat(ci): use repo-local secrets (#582)
  .circleci/config.yml
Owners: @talkiq/engineering, @TheKevJames

[skip ci] updated docs
  gcloud.html
  gcloud/aio.html
  gcloud/aio/auth.html
  gcloud/aio/bigquery.html
  gcloud/aio/datastore.html
  gcloud/aio/kms.html
  gcloud/aio/pubsub.html
  gcloud/aio/storage.html
  gcloud/aio/taskqueue.html
  gcloud/rest.html
  gcloud/rest/auth.html
  gcloud/rest/bigquery.html
  gcloud/rest/datastore.html
  gcloud/rest/kms.html
  gcloud/rest/pubsub.html
  gcloud/rest/storage.html
  gcloud/rest/taskqueue.html
  search.js
Owners: @talkiq/engineering, @TheKevJames

Add newTransaction option for lookups
  datastore/gcloud/aio/datastore/datastore.py
  datastore/gcloud/aio/datastore/options.py
  datastore/tests/integration/smoke_test.py
Owners: @talkiq/engineering, @TheKevJames

chore(deps): update dependency cryptography to v39
  auth/poetry.lock
  auth/poetry.rest.lock
  auth/pyproject.rest.toml
  auth/pyproject.toml
Owners: @TheKevJames, @talkiq/engineering

[skip ci] updated docs
  gcloud/aio/auth.html
  gcloud/rest/auth.html
Owners: @talkiq/engineering, @TheKevJames

chore(deps): pin setuptools to avoid PEP420 incompat
  auth/poetry.lock
  auth/poetry.rest.lock
  auth/pyproject.rest.toml
  auth/pyproject.toml
  bigquery/poetry.lock
  bigquery/poetry.rest.lock
  bigquery/pyproject.rest.toml
  bigquery/pyproject.toml
  datastore/poetry.lock
  datastore/poetry.rest.lock
  datastore/pyproject.rest.toml
  datastore/pyproject.toml
  kms/poetry.lock
  kms/poetry.rest.lock
  kms/pyproject.rest.toml
  kms/pyproject.toml
  pubsub/poetry.lock
  pubsub/poetry.rest.lock
  pubsub/pyproject.rest.toml
  pubsub/pyproject.toml
  storage/poetry.lock
  storage/poetry.rest.lock
  storage/pyproject.rest.toml
  storage/pyproject.toml
  taskqueue/poetry.lock
  taskqueue/poetry.rest.lock
  taskqueue/pyproject.rest.toml
  taskqueue/pyproject.toml
Owners: @TheKevJames, @talkiq/engineering, @shaundialpad

feat(pubsub): improve logging
  pubsub/gcloud/aio/pubsub/subscriber.py
Owners: @TheKevJames, @shaundialpad

[Fix] Reformats signed URL to allow for period seperated bucket paths
  .python-version
  storage/gcloud/aio/storage/blob.py
Owners: @talkiq/engineering, @TheKevJames

chore(ci): avoid testing on py27
  .circleci/config.yml
Owners: @talkiq/engineering, @TheKevJames

feat(python): stop building python2 compat modules
  .github/CONTRIBUTING.rst
  README.rst
  auth/poetry.lock
  auth/poetry.rest.lock
  auth/pyproject.rest.toml
  auth/pyproject.toml
  bigquery/poetry.lock
  bigquery/poetry.rest.lock
  bigquery/pyproject.rest.toml
  bigquery/pyproject.toml
  bin/build-rest
  datastore/poetry.lock
  datastore/poetry.rest.lock
  datastore/pyproject.rest.toml
  datastore/pyproject.toml
  docs/gcloud.md
  kms/poetry.lock
  kms/poetry.rest.lock
  kms/pyproject.rest.toml
  kms/pyproject.toml
  pubsub/poetry.lock
  pubsub/poetry.rest.lock
  pubsub/pyproject.rest.toml
  pubsub/pyproject.toml
  storage/poetry.lock
  storage/poetry.rest.lock
  storage/pyproject.rest.toml
  storage/pyproject.toml
  taskqueue/poetry.lock
  taskqueue/poetry.rest.lock
  taskqueue/pyproject.rest.toml
  taskqueue/pyproject.toml
Owners: @talkiq/engineering, @TheKevJames, @shaundialpad

feat(repo): remove cross-compatibility build code
  auth/gcloud/aio/auth/utils.py
  auth/poetry.lock
  auth/poetry.rest.lock
  auth/pyproject.rest.toml
  auth/pyproject.toml
  auth/tests/unit/token_test.py
  bin/build-rest
  datastore/tests/unit/value_test.py
  poetry.lock
  pyproject.toml
  storage/gcloud/aio/storage/storage.py
  storage/tests/integration/download_range_test.py
  storage/tests/integration/download_stream_test.py
  storage/tests/integration/upload_multipart_test.py
  storage/tests/integration/upload_resumable_test.py
Owners: @talkiq/engineering, @TheKevJames

Fix host header
  storage/gcloud/aio/storage/blob.py
Owners: @talkiq/engineering, @TheKevJames

[skip ci] updated docs
  gcloud.html
  gcloud/aio.html
  gcloud/aio/auth.html
  gcloud/aio/bigquery.html
  gcloud/aio/datastore.html
  gcloud/aio/kms.html
  gcloud/aio/pubsub.html
  gcloud/aio/storage.html
  gcloud/aio/taskqueue.html
  gcloud/rest.html
  gcloud/rest/auth.html
  gcloud/rest/bigquery.html
  gcloud/rest/datastore.html
  gcloud/rest/kms.html
  gcloud/rest/pubsub.html
  gcloud/rest/storage.html
  gcloud/rest/taskqueue.html
  search.js
Owners: @talkiq/engineering, @TheKevJames

chore(deps): bump pytest-asyncio
  auth/poetry.lock
  auth/pyproject.rest.toml
  auth/pyproject.toml
  bigquery/poetry.lock
  bigquery/poetry.rest.lock
  bigquery/pyproject.rest.toml
  bigquery/pyproject.toml
  datastore/poetry.lock
  datastore/poetry.rest.lock
  datastore/pyproject.rest.toml
  datastore/pyproject.toml
  kms/poetry.lock
  pubsub/poetry.lock
  pubsub/poetry.rest.lock
  pubsub/pyproject.rest.toml
  pubsub/pyproject.toml
  storage/poetry.lock
  storage/poetry.rest.lock
  storage/pyproject.rest.toml
  storage/pyproject.toml
  taskqueue/poetry.lock
  taskqueue/poetry.rest.lock
  taskqueue/pyproject.rest.toml
  taskqueue/pyproject.toml
  taskqueue/tests/integration/pushqueue_test.py
Owners: @TheKevJames, @talkiq/engineering, @shaundialpad

chore(deps): update node.js to v19.8.1
  .circleci/config.yml
Owners: @talkiq/engineering, @TheKevJames
